<div class="container-all-window">
    <!-- add price title -->
    <h1 *ngIf="!editText" id="title" class="title">{{ 'products.addNewPrice' | translate
        }}</h1>
    <h1 *ngIf="editText" id="title" class="title">{{ 'products.editPrice' | translate
        }}</h1>
    <!-- add price form -->
    <div class="container">
        <nb-card>
            <nb-card-body>
                <div>
                    <form (ngSubmit)="addNewPrice()" #form="ngForm">
                        <!-- quantity in product (lbs, gram, pcs) block -->
                        <div class="form-group">
                            <label for="quantityInProduct" class="label">{{ 'products.quantityInProduct' | translate
                                }}</label>
                            <input type="number" class="form-control" name="quantityInProduct" fullWidth
                                placeholder="{{ unitText }} ({{ selectedUnit}})" required #quantityInProduct="ngModel"
                                [(ngModel)]="newPrice.quantityInProduct" />
                            <!-- quantity in product error block -->
                            <span class="help-block" *ngIf="!quantityInProduct.valid && quantityInProduct.touched">{{
                                'register.fieldRequired' | translate }}</span>
                        </div><br>

                        <!-- Product Image block -->
                        <div class="form-group">
                            <label for="productImage" class="label">{{ 'products.productImage' | translate
                                }}</label>
                            <input type="file" class="form-control" (change)="onFileSelected($event)" />
                            <div *ngIf="imagePreview">
                                <img [src]="imagePreview" alt="Image Preview" class="image-preview" />
                            </div>

                            <div *ngIf="imagePreview === ''">
                                <img src="../../../../../../assets/images/gym-bro-logo.png" alt="Image Preview"
                                    class="image-preview" />
                            </div>
                        </div><br>

                        <!-- Product Price block -->
                        <div class="form-group">
                            <label for="productPrice" class="label">{{ 'products.productPrice' | translate
                                }}</label>
                            <input type="number" class="form-control" name="productPrice" fullWidth placeholder="{{ 'products.price' | translate
                                }} ({{ 'products.huf' | translate }})" required #productPrice="ngModel"
                                [(ngModel)]="newPrice.productPrice" />
                            <!-- price error block -->
                            <span class="help-block" *ngIf="!productPrice.valid && productPrice.touched">{{
                                'register.fieldRequired' | translate }}</span>
                        </div><br>

                        <!-- Product Stock block -->
                        <div class="form-group">
                            <label for="productStock" class="label">{{ 'products.productStock' | translate
                                }}</label>
                            <input type="number" class="form-control" name="productStock" fullWidth placeholder="{{ 'products.stock' | translate
                                }} ({{ selectedUnit}})" required #productStock="ngModel"
                                [(ngModel)]="newPrice.productStock" />
                            <!-- stock error block -->
                            <span class="help-block" *ngIf="!productStock.valid && productStock.touched">{{
                                'register.fieldRequired' | translate }}</span>
                        </div>

                        <!-- Error block -->
                        <span *ngIf="errorMessage" class="help-block-login-error">
                            <i class="fas fa-exclamation-triangle icon"></i>
                            {{ errorMessage }}
                        </span>

                        <!-- Submit button -->
                        <div class="send-button-container">
                            <button class="btn btn-primary forgot-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid">
                                {{ 'products.add' | translate }}
                            </button>
                        </div>
                    </form>

                    <div class="send-button-container">
                        <button class="btn btn-primary forgot-btn" type="button" nbButton status="warning"
                            (click)="back()">
                            {{ 'loginPage.back' | translate }}
                        </button>
                    </div><br />
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>