<nb-layout windowMode>
    <!-- display app header bar -->
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <!-- display menubar on the left side -->
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-menu [items]="translatedMenu"></nb-menu>
    </nb-sidebar>

    <!-- display the application body -->
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <!-- display footer with 2 social icons -->
    <nb-layout-footer>
        <app-footer class="footer"></app-footer>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/zalanfarkas" target="_blank" class="social-icon"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://github.com/FarkasZalan" target="_blank" class="social-icon"><i
                    class="fab fa-github"></i></a>
        </div>
    </nb-layout-footer>
</nb-layout>