.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f8f8;
  color: #2CE69B;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.not-found-content {
  max-width: 800px;
  max-height: 800px;
  padding: 20px;
  border-radius: 10px;
}

.animation-wrapper {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dumbbell {
  position: absolute;
  width: 80px;
  animation: lift 3s ease-in-out infinite;
}

.dumbbell-left {
  left: -5%;
  top: 15%;
}

.dumbbell-right {
  right: -5%;
  bottom: 5%;
}

.error-code-container {
  position: relative;
  z-index: 1;
  /* Ensure it is above the dumbbells */
}

.error-code {
  font-size: 120px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 8px;
  color: #2CE69B;
}

.error-message {
  font-size: 22px;
  margin-top: 10%;
  color: #333;
  line-height: 1.4;
  font-weight: 300;
}

.home-button {
  position: relative;
  background: white;
  color: #00d68f;
  padding: 10px 20px 10px 40px !important;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  border-color: #00d68f;
  border-style: solid;
  border-width: 1px;
  text-transform: uppercase;

  &:hover {
    background: #00d68f;
    color: white;
  }
}

.arrow {
  position: absolute;
  /* Position the arrow absolutely within the button */
  left: 10px;
  /* Adjust as needed to position the arrow */

  /* Center vertically */
  transform: translateY(-50%);
  /* Adjust vertical centering */
  color: #2ce69b;
  /* Set the color of the arrow */
  font-size: 18px;
  /* Adjust size as needed */
  animation: arrowLift 3s ease-in-out infinite;
}

.home-button:hover .arrow {
  color: white !important;
}

@keyframes arrowLift {

  0%,
  100% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }
}

@keyframes lift {

  0%,
  100% {
    transform: translateY(-10px);
  }

  20% {
    transform: translateY(10px);
  }
}