<div class="not-found-container">
  <div class="not-found-content">
    <div class="animation-wrapper">
      <img src="../../assets/images/dumbel.png" alt="Dumbbell" class="dumbbell dumbbell-left">
      <div class="error-code-container">
        <h1 class="error-code">404</h1>
        <p class="error-message">{{ 'notFoundPage.notFoundText' | translate }}</p>
      </div>
      <img src="../../assets/images/dumbel.png" alt="Dumbbell" class="dumbbell dumbbell-right">
    </div>
    <button class="home-button" (click)="goToHome()">
      <span class="arrow">&#9664;</span>
      {{ 'notFoundPage.backTohome' | translate }}</button>
  </div>
</div>