<div class="not-found-container">
  <div class="not-found-content">
    <div class="animation-wrapper">
      <!-- Left dumbbell image for visual representation -->
      <img src="../../assets/images/dumbel.png" alt="Dumbbell" class="dumbbell dumbbell-left">

      <div class="error-code-container">
        <!-- Displaying the error code -->
        <h1 class="error-code">404</h1>
        <!-- Translating the not found text message -->
        <p class="error-message">{{ 'notFoundPage.notFoundText' | translate }}</p>
      </div>

      <!-- Right dumbbell image for visual representation -->
      <img src="../../assets/images/dumbel.png" alt="Dumbbell" class="dumbbell dumbbell-right">
    </div>

    <!-- Button to navigate back to the home page -->
    <button class="home-button" (click)="goToHome()">
      <span class="arrow">
        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <!-- Filled left arrow -->
          <path d="M26 6L14 16l12 10" fill="#0b8e92" />
        </svg>
      </span>
      {{ 'notFoundPage.backTohome' | translate }}</button>
  </div>
</div>