<div class="list-container">
    <!-- Blog card -->
    <nb-card class="rounded-card-category categoryCard" (click)="goToBlogList()">
        <nb-card-header class="card-header default-label">
            <strong class="default-label">{{ 'blog.goToBlogList' | translate }} <br> ({{
                blogCount }} {{ 'products.pcs'
                | translate }})</strong>
        </nb-card-header>
        <nb-card-body class="category-image">
            <img src="../../../assets/images/blog.jpg" alt="Food supliments" class="card-image-category" />
        </nb-card-body>
    </nb-card>
</div>