<!-- login title -->
<h1 id="title" class="title">{{ 'loginPage.login' | translate }}</h1>
<!-- login form -->
<div class="container">
    <nb-card>
        <nb-card-body class="login-col">

            <div class="row">
                <div class="col">
                    <form (ngSubmit)="login()" #form="ngForm">
                        <!-- email block -->
                        <div class="form-group">
                            <label for="email" class="label">{{ 'loginPage.email' | translate }}</label>
                            <input type="email" class="form-control" ngModel name="email" fullWidth
                                placeholder="{{ 'loginPage.emailAddress' | translate }}" required email
                                #emailInput="ngModel">
                            <!-- email error block -->
                            <span class="help-block" *ngIf="emailInput.touched && !emailInput.valid">{{
                                'loginPage.invalidEmail' | translate }}</span>
                        </div>
                        <!-- password block -->
                        <div class="form-group">
                            <label for="password" class="label">{{ 'loginPage.password' | translate }}</label>
                            <input type="password" class="form-control" ngModel name="password" fullWidth
                                placeholder="{{ 'loginPage.password' | translate }}" minlength="6" required
                                #password="ngModel">
                            <!-- password error block -->
                            <span class="help-block" *ngIf="!password.valid && password.touched">{{
                                'loginPage.invalidPassword' | translate }}
                            </span>
                        </div>
                        <!-- login error -->
                        <span *ngIf="errorMessage" class="help-block-login-error">
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'loginPage.loginError' | translate }}
                        </span>
                        <!-- login submit button -->
                        <div class="login-button-container">
                            <button class="btn btn-primary basic-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid">{{ 'loginPage.login' | translate }}</button>
                        </div>

                        <!-- forgot password block -->
                        <div class="form-group forgot-password-text">
                            <p><a><span (click)="forgotPassword()" class="forgot-password-text">{{
                                        'loginPage.forgotPasswordText' | translate }}</span></a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div class="register-div">
                        <i class="fas fa-user"></i>
                    </div>
                    <p class="register-text">{{ 'loginPage.dontHaveAccount' | translate }}</p><br>
                    <ul class="custom-list">
                        <li>{{ 'loginPage.collectCuponsText' | translate }}</li>
                        <li>{{ 'loginPage.saveDateText' | translate }}</li>
                    </ul><br>
                    <!-- go to register button -->
                    <div class="login-button-container">
                        <button class="btn btn-primary basic-btn" type="submit" nbButton status="success"
                            (click)="goToRegister()">{{ 'loginPage.register' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="login-button-container">
                <button class="btn btn-primary basic-btn back-btn" type="submit" nbButton status="success"
                    (click)="goToItems()">
                    <span class="arrow">&#9664;</span>
                    {{ 'loginPage.goToItems' | translate }}</button>
            </div>

        </nb-card-body>
    </nb-card>
</div>