.send-button-container {
    margin-top: 20px;
    text-align: center;
}

.container {
    max-width: 450px;
}

.title {
    text-align: center;
    white-space: pre;
}

img {
    max-height: 200px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sucessful-text {
    text-align: center;
}