<div class="terms-privacy-dialog" [@zoomIn]>
    <div class="dialog-content">
        <div class="section">
            <h3>{{ title }}</h3>
            <p>
                <strong>{{ firstParagraphTitle }}</strong> {{ firstParagraph }}
            </p>
            <p>
                <strong>{{ secondParagraphTitle }}</strong> {{ secondParagraph }}
            </p>
            <p>
            </p>

            <div class="buttons">
                <button class="btn delete-btn" (click)="reject()">{{ backButtonText }}</button>
                <button class="btn" (click)="accept()">{{ acceptButtonText }}</button>
            </div>
        </div>
    </div>
</div>