<!-- loading spinner -->
<app-loading-spinner *ngIf="loadingService.loading$ | async" [overlay]="true"></app-loading-spinner>

<!-- register title -->
<h1 id="title" class="title">{{ 'loginPage.register' | translate }}</h1>
<!-- register form -->
<div class="container" [@zoomIn]>
    <nb-card>
        <nb-card-body class="login-col">
            <div class="row responsive-row">
                <!-- already have account -->
                <div class="col">
                    <div class="register-div">
                        <i class="fas fa-user"></i>
                    </div>
                    <p class="register-text">{{ 'register.alreadyHaveAccount' | translate }}</p>
                    <p class="register-text">{{ 'register.loginNow' | translate }}</p>
                    <!-- go to login button -->
                    <div class="login-button-container">
                        <button class="btn btn-primary basic-btn" type="submit" nbButton status="success"
                            (click)="goToLogin()">{{ 'loginPage.login' | translate }}</button>
                    </div>
                </div><br>

                <!-- register form -->
                <div class="col">
                    <form (ngSubmit)="register()" #form="ngForm">
                        <div class="row">
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- First Name block -->
                                <div class="form-group">
                                    <label for="firstName" class="label">{{ 'register.firstName' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="firstName" minlength="1"
                                        required placeholder="{{ 'register.firstName' | translate }}*"
                                        #firstName="ngModel">
                                    <span class="help-block" *ngIf="firstName.touched && !firstName.valid" [@zoomIn]>{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- Last Name block -->
                                <div class="form-group">
                                    <label for="lastName" class="label">{{ 'register.lastName' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="lastName" minlength="1"
                                        required placeholder="{{ 'register.lastName' | translate }}*"
                                        #lastName="ngModel">
                                    <span class="help-block" *ngIf="lastName.touched && !lastName.valid" [@zoomIn]>{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row responsive-field-row">
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- Email block -->
                                <div class="form-group">
                                    <label for="email" class="label">{{ 'loginPage.email' | translate }}</label>
                                    <input type="email" class="form-control" ngModel name="email" required
                                        placeholder="{{ 'loginPage.emailAddress' | translate }}*" #email="ngModel">
                                    <span class="help-block" *ngIf="email.touched && !email.valid" [@zoomIn]>{{
                                        'loginPage.invalidEmail' | translate }}</span>
                                </div>
                            </div>
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- Phone block -->
                                <div class="form-group">
                                    <label for="phone" class="label">{{ 'register.phone' | translate }}</label>
                                    <input type="tel" class="form-control" ngModel name="phone" required
                                        placeholder="{{ 'register.phone' | translate }}*" #phone="ngModel">
                                    <span class="help-block" *ngIf="phone.touched && !phone.valid" [@zoomIn]>{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Password block -->
                        <div class="form-group">
                            <label for="password" class="label">{{ 'loginPage.password' | translate }}</label>
                            <div class="input-container">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control" ngModel
                                    name="password" fullWidth placeholder="{{ 'loginPage.password' | translate }}"
                                    minlength="6" required #password="ngModel" />
                                <i class="eye-icon" (click)="togglePassword()">
                                    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </i>
                            </div>
                            <!-- Password error block -->
                            <span class="help-block" *ngIf="!password.valid && password.touched" [@zoomIn]>
                                {{ 'loginPage.invalidPassword' | translate }}
                            </span>
                        </div>
                        <!-- Password again Section -->
                        <div class="form-group">
                            <label for="passwordAgain" class="label">{{ 'register.passwordAgain' | translate }}</label>
                            <div class="input-container">
                                <input [type]="showConfirmPassword ? 'text' : 'password'" id="passwordAgain"
                                    name="passwordAgain" [(ngModel)]="passwordAgain" class="form-control" minlength="6"
                                    placeholder="{{ 'register.passwordAgain' | translate }}" required>
                                <i class="eye-icon" (click)="toggleConfirmPassword()">
                                    <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </i>
                            </div>
                        </div><br>
                        <!-- Terms Checkbox -->
                        <div class="form-group">
                            <label for="dataManagementCheckBox" class="checkbox-container">
                                <label (click)="goToTermsDialog()" for="dataManagementCheckBox">{{
                                    'register.acceptTerms' | translate }}
                                </label>
                                <input [disabled]="!termsAccepted" type="checkbox" [(ngModel)]="termsAccepted"
                                    name="dataManagementCheckBox" id="dataManagementCheckBox" #admin="ngModel" required>
                                <span disabled class="checkmark"></span>
                            </label>
                        </div>
                        <!-- password error -->
                        <span *ngIf="errorMessagePassword" class="help-block-login-error" [@zoomIn]>
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'register.passwordsNotMatch' | translate }}
                        </span>
                        <!-- email error -->
                        <span *ngIf="errorMessage" class="help-block-login-error" [@zoomIn]>
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'register.emailRegistered' | translate }}
                        </span>
                        <!-- register submit button -->
                        <div class="login-button-container">
                            <button class="btn btn-primary basic-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid || !termsAccepted">{{ 'loginPage.register' | translate
                                }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>