<!-- Loading spinner -->
<app-loading-spinner *ngIf="loadingService.loading$ | async" [overlay]="true"></app-loading-spinner>

<!-- Change Data form -->
<div class="container" [@zoomIn]>
    <div class="dialog-header">
        <!-- Change Data title -->
        <h5 id="title" class="title">{{ 'profilePage.dataChange' | translate }}</h5>
        <button class="close-button" (click)="goToBack()" tabindex="-1">×</button>
    </div>
    <nb-card>
        <nb-card-body class="login-col">
            <div class="row">
                <div class="col">
                    <form (ngSubmit)="changeData()" #form="ngForm">
                        <div class="row">
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- First Name block -->
                                <div class="form-group">
                                    <label for="firstName" class="label">{{ 'register.firstName' | translate }}</label>
                                    <input type="text" class="form-control" name="firstName" minlength="1" required
                                        placeholder="{{ 'register.firstName' | translate }}*" #firstName="ngModel"
                                        [(ngModel)]="modifyUser.firstName">
                                    <span class="help-block" *ngIf="firstName.touched && !firstName.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div [ngClass]="{'col-6': isLargeScreen, 'col-12': !isLargeScreen}">
                                <!-- Last Name block -->
                                <div class="form-group">
                                    <label for="lastName" class="label">{{ 'register.lastName' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="lastName" minlength="1"
                                        required placeholder="{{ 'register.lastName' | translate }}*"
                                        #lastName="ngModel" [(ngModel)]="modifyUser.lastName">
                                    <span class="help-block" *ngIf="lastName.touched && !lastName.valid">{{
                                        'register.invalidPassword' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- Phone block -->
                                <div class="form-group">
                                    <label for="phone" class="label">{{ 'register.phone' | translate }}</label>
                                    <input type="tel" class="form-control" ngModel name="phone" required
                                        placeholder="{{ 'register.phone' | translate }}*" #phone="ngModel"
                                        [(ngModel)]="modifyUser.phone">
                                    <span class="help-block" *ngIf="phone.touched && !phone.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- Password block -->
                        <div class="form-group">
                            <label for="password" class="label">{{ 'profilePage.newPassword' | translate }}</label>
                            <div class="input-container">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control" ngModel
                                    name="password" placeholder="{{ 'loginPage.password' | translate }}" minlength="6"
                                    #password="ngModel" #passwordFirst="ngModel" />
                                <i class="eye-icon" (click)="togglePassword()">
                                    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </i>
                            </div>
                            <!-- Password error block -->
                            <span class="help-block" *ngIf="!password.valid && password.touched" [@zoomIn]>
                                {{ 'loginPage.invalidPassword' | translate }}
                            </span>
                        </div>
                        <!-- Password again Section -->
                        <div class="form-group">
                            <label for="passwordAgain" class="label">{{ 'profilePage.newPasswordAgain' | translate
                                }}</label>
                            <div class="input-container">
                                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" ngModel
                                    name="passwordAgain" placeholder="{{ 'profilePage.newPasswordAgain' | translate }}"
                                    minlength="6" required #passwordAgain="ngModel" />
                                <i class="eye-icon" (click)="toggleConfirmPassword()">
                                    <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </i>
                            </div>
                        </div>
                        <!-- modify error -->
                        <span *ngIf="errorMessage" class="help-block-login-error">
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'register.passwordsNotMatch' | translate }}
                        </span><br>
                        <!-- Change Data submit button -->
                        <div class="login-button-container">
                            <button class="btn btn-primary basic-btn basic-form-btn" type="submit" nbButton
                                status="success"
                                [disabled]="!form.valid && (passwordAgain.value !== passwordFirst.value)">{{
                                'profilePage.modify' | translate }}</button>
                        </div>
                    </form>
                    <!-- back button -->
                    <div class="login-button-container">
                        <button class="btn btn-primary basic-btn back-btn basic-form-btn" type="submit" nbButton
                            status="success" (click)="goToBack()">
                            <span class="arrow">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <!-- Filled left arrow -->
                                    <path d="M26 6L14 16l12 10" fill="#0b8e92" />
                                </svg>
                            </span>
                            {{ 'profilePage.cancel' | translate }}</button>
                    </div><br>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>