.container {
    margin-top: 20px;
    width: 600px;
}

.change-password-card {
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-col {
    padding: 30px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #0b8e92;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

input[type='text'] {
    cursor: text;
}

.button-container {
    display: grid;
    text-align: center;
    justify-content: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: 1% !important;
}

input.ng-valid {
    border: 1px solid green;
}

input {
    width: 100%;
    margin: 10px 0;
    transition: border-color 0.3s;

    &:focus {
        border-color: #0b8e92;
        outline: none;
    }
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #0b8e92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0a7a7e;
    }

    &:disabled {
        background-color: #ccc;
    }
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    /* Vertically centers the elements */
}

.eye-icon {
    position: absolute;
    /* Remain positioned relative to the input-container */
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0b8e92;
    font-size: 18px;

    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: rgba(12, 122, 126, 0.747);
    }

    &:active {
        color: darken(#0b8e92, 15%);
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: 1% !important;
}

input.ng-valid {
    border: 1px solid green;
}

.help-block-login-error {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    /* Light red background */
    color: #721c24;
    /* Dark red text color */
    border: 1px solid #f5c6cb;
    /* Red border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px;
    margin: 15px 0;
    /* Margin around the error block */
    font-size: 16px !important;
    /* Adjust font size as needed */

    // animation: fadeIn 0.3s ease;
}

.help-block-login-error .icon {
    margin-right: 10px;
    /* Space between the icon and text */
    font-size: 1.5em;
    /* Adjust icon size */
}

.help-block {
    color: #721c24;
    font-size: 15px !important;
}

.pasword-change-button {
    margin-top: 10px !important;
    width: 280px;
}

.back-to-login-btn {
    margin-bottom: 10px;
}

.login-button-container {
    margin-top: 20px;
    text-align: center;
}

.expired-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Expired Message Animation */
.expired-animation {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}