<div class="container">
    <nb-card class="change-password-card" [@zoomIn]>
        <nb-card-body class="login-col">
            <h1 class="title">{{ 'profilePage.paswordChangeTitle' | translate }}</h1>
            <form #changePasswordForm="ngForm">
                <div *ngIf="tokenExists">
                    <div class="form-group">
                        <label for="newPassword">{{ 'profilePage.newPassword' | translate }}</label>
                        <div class="input-container">
                            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" min="6"
                                [type]="showNewPassword ? 'text' : 'password'" required>
                            <i class="eye-icon" (click)="toggleNewPassword()">
                                <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">{{ 'profilePage.newPasswordAgain' | translate }}</label>
                        <div class="input-container">
                            <input type="password" id="confirmPassword" name="confirmPassword"
                                [(ngModel)]="confirmPassword" min="6" [type]="showConfirmPassword ? 'text' : 'password'"
                                required>
                            <i class="eye-icon" (click)="toggleConfirmPassword()">
                                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </i>
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" [disabled]="changePasswordForm.invalid"
                            class="btn btn-primary pasword-change-button"
                            (click)="onChangePassword(changePasswordForm)">
                            {{ 'profilePage.modify' | translate }}
                        </button>
                    </div>
                </div>

                <div *ngIf="!tokenExists" class="expired-section">
                    <!-- Email Expired Message -->
                    <div class="expired-message text-center">
                        <i class="fas fa-exclamation-triangle" style="color: red; font-size: 35px;"></i>
                        <!-- Warning icon -->
                        <h2 class="expired-animation" style="color: red;">{{ 'verificationPage.expiredPasswordMessage' |
                            translate }}</h2>
                    </div>
                </div>

                <!-- password error -->
                <span *ngIf="errorMessagePassword" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                    {{ 'register.passwordsNotMatch' | translate }}
                </span>

                <div class="login-button-container">
                    <button class="btn btn-primary basic-btn back-to-login-btn pasword-change-button"
                        (click)="goToLogin()">
                        {{ tokenExists ? ('verificationPage.loginButton' | translate) :
                        ('succesfullDialog.backToLogin' | translate) }}
                    </button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>