<!-- loading spinner -->
<app-loading-spinner *ngIf="loadingService.loading$ | async" [overlay]="true"></app-loading-spinner>

<div class="container">
    <nb-card class="change-password-card" [@zoomIn]>
        <nb-card-body class="login-col">
            <h1 class="title">{{ 'profilePage.paswordChangeTitle' | translate }}</h1>
            <form #form="ngForm">
                <div *ngIf="tokenExists">
                    <!-- Password block -->
                    <div class="form-group">
                        <label for="newPassword" class="label">{{ 'profilePage.newPassword' | translate }}</label>
                        <div class="input-container">
                            <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" ngModel
                                name="newPassword" placeholder="{{ 'loginPage.password' | translate }}" minlength="6"
                                required #password="ngModel" />
                            <i class="eye-icon" (mousedown)="toggleNewPassword(true)"
                                (mouseup)="toggleNewPassword(false)" (mouseleave)="toggleNewPassword(false)">
                                <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </i>
                        </div>
                        <!-- Password error block -->
                        <span class="help-block" *ngIf="!password.valid && password.touched" [@zoomIn]>
                            {{ 'loginPage.invalidPassword' | translate }}
                        </span>
                    </div>
                    <!-- Confirm Password block -->
                    <div class="form-group">
                        <label for="confirmPassword">{{ 'profilePage.newPasswordAgain' | translate }}</label>
                        <div class="input-container">
                            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                                class="form-control" name="confirmPassword" ngModel minlength="6"
                                placeholder="{{ 'register.passwordAgain' | translate }}" required>
                            <i class="eye-icon" (mousedown)="toggleConfirmPassword(true)"
                                (mouseup)="toggleConfirmPassword(false)" (mouseleave)="toggleConfirmPassword(false)">
                                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </i>
                        </div>
                    </div>

                    <!-- password error -->
                    <span *ngIf="errorMessagePassword" class="help-block-login-error" [@zoomIn]>
                        <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                        {{ 'register.passwordsNotMatch' | translate }}
                    </span>

                    <div class="button-container">
                        <button [disabled]="form.invalid" type="button" class="btn btn-primary pasword-change-button"
                            (click)="onChangePassword()">
                            {{ 'profilePage.modify' | translate }}
                        </button>
                    </div>
                </div>

                <div *ngIf="!tokenExists" class="expired-section">
                    <!-- Email Expired Message -->
                    <div class="expired-message text-center">
                        <i class="fas fa-exclamation-triangle"
                            style="color: red; font-size: 35px; margin-bottom: 10px;"></i>
                        <!-- Warning icon -->
                        <h2 class="expired-animation" style="color: red;">{{ 'verificationPage.expiredPasswordMessage' |
                            translate }}</h2>
                    </div>
                </div>

                <div class="login-button-container">
                    <button class="btn btn-primary basic-btn back-to-login-btn pasword-change-button"
                        (click)="goToLogin()" type="button">
                        {{ 'succesfullDialog.backToLogin' | translate }}
                    </button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>