<!-- that's just need to navigate to the top -->
<p #toScrollAfterNavigate></p>
<div class="page-container">
    <!-- Filter Section -->
    <div class="filter-container">
        <!-- Category section -->
        <div class="row">
            <h3 class="title">{{ 'blog.filter' | translate }}</h3>
            <div class="dropdown-list-container">
                <div class="form-group position-relative order-by-container">

                    <!-- Dropdown container with arrow icon -->
                    <div class="dropdown-container" (click)="toggleCategoryDropdown()">

                        <!-- Select category dropdown aligned to the right -->
                        <select class="form-control drop-down-list allow-selected-list-color arrow-select"
                            name="category" #category="ngModel" [(ngModel)]="filterObject.category"
                            (change)="applyFilters()">
                            <!-- Placeholder option -->
                            <option value="" selected>{{ 'filter.selectCategory' |
                                translate }}
                            </option>

                            <!-- List of order options -->
                            <option *ngFor="let category of availableCategories" [value]="category">
                                {{ category | translate }}
                            </option>
                        </select>

                        <!-- Arrow icon based on dropdown open/closed state -->
                        <div class="arrow-icon">
                            <svg *ngIf="isCategoryDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 14l5-5 5 5z" />
                            </svg>
                            <svg *ngIf="!isCategoryDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 10l5 5 5-5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- Order by section -->
        <div class="row">
            <div class="dropdown-list-container">
                <div class="form-group position-relative order-by-container">
                    <!-- title -->
                    <label for="order" class="order-by-label">{{ 'filter.orderBy.orderByText' | translate }}</label>

                    <!-- Dropdown container with arrow icon -->
                    <div class="dropdown-container" (click)="toggleOrderDropdown()">

                        <!-- Select order dropdown aligned to the right -->
                        <select class="form-control drop-down-list allow-selected-list-color arrow-select" name="order"
                            #order="ngModel" [(ngModel)]="filterObject.orderBy" (change)="orderItems()">

                            <!-- List of order options -->
                            <option *ngFor="let order of availableOrders" [value]="order">
                                {{ order | translate }}
                            </option>
                        </select>

                        <!-- Arrow icon based on dropdown open/closed state -->
                        <div class="arrow-icon">
                            <svg *ngIf="isOrderByDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 14l5-5 5 5z" />
                            </svg>
                            <svg *ngIf="!isOrderByDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 10l5 5 5-5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- gender section -->
        <div class="row">
            <div class="dropdown-list-container">
                <div class="form-group position-relative order-by-container">

                    <!-- Dropdown container with arrow icon -->
                    <div class="dropdown-container" (click)="toggleGenderDropdown()">

                        <!-- Select gender dropdown aligned to the right -->
                        <select class="form-control drop-down-list allow-selected-list-color arrow-select" name="gender"
                            #gender="ngModel" [(ngModel)]="filterObject.gender" (change)="applyFilters()">

                            <!-- Placeholder option -->
                            <option value="" selected>{{ 'filter.filterByGender' |
                                translate }}
                            </option>

                            <!-- List of gender options -->
                            <option *ngFor="let gender of availableGenders" [value]="gender">
                                {{ gender | translate }}
                            </option>
                        </select>

                        <!-- Arrow icon based on dropdown open/closed state -->
                        <div class="arrow-icon">
                            <svg *ngIf="isGenderDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 14l5-5 5 5z" />
                            </svg>
                            <svg *ngIf="!isGenderDropdownOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 10l5 5 5-5z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- Protein Type -->
        <div class="row">
            <div class="dropdown-list-container" [@collapseField]
                *ngIf="filterObject.category === productViewText.PROTEINS || filterObject.category === productViewText.MASS_GAINERS">
                <div class="form-group position-relative order-by-container">

                    <!-- Dropdown container with arrow icon -->
                    <div class="dropdown-container" (click)="toggleProteinTypeDropdown()">

                        <!-- Select proteinType dropdown aligned to the right -->
                        <select class="form-control drop-down-list allow-selected-list-color arrow-select"
                            name="proteinType" #proteinType="ngModel" [(ngModel)]="filterObject.proteinType"
                            (change)="applyFilters()">

                            <!-- Placeholder option -->
                            <option value="" selected>{{
                                'filter.filterByProteinType' |
                                translate }}
                            </option>

                            <!-- List of proteinType options -->
                            <option *ngFor="let proteinType of availableProteins" [value]="proteinType">
                                {{ proteinType | translate }}
                            </option>
                        </select>

                        <!-- Arrow icon based on dropdown open/closed state -->
                        <div class="arrow-icon">
                            <svg *ngIf="isProteinTypeDropdownOpen" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 14l5-5 5 5z" />
                            </svg>
                            <svg *ngIf="!isProteinTypeDropdownOpen" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" fill="#0b8e92" width="40px" height="50px">
                                <path d="M7 10l5 5 5-5z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- Flavors and Allergens Section -->
            <div class="row">
                <!-- Flavors Section -->
                <div class="col-md-12 form-group">
                    <label for="flavors" class="label">{{ 'products.productFlavors' | translate
                        }}</label>
                    <div class="multi-select-container">
                        <select class="form-control allow-selected-multiple-list-color" multiple="multiple">
                            <option *ngFor="let flavor of availableFlavors" [value]="flavor"
                                [ngClass]="{'active': filterObject.flavors.includes(flavor) && filterObject.flavors.length > 0}"
                                (click)="selectionOfTheList(productViewText.FLAVORS, flavor)">
                                {{ flavor | translate }}
                            </option>
                        </select>
                    </div>

                    <!-- display the selected flavors -->
                    <div *ngIf="filterObject.flavors.length > 0">
                        <div class="selected-items-display" *ngFor="let selected of filterObject.flavors"
                            (click)="removeItemFromTheList(productViewText.FLAVORS, selected)" [@zoomIn]>
                            {{ selected | translate }}
                            <span style="cursor: pointer; color: red;">&times;</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Allergens Section -->
            <div class="row">
                <!-- Allergenes Section -->
                <div class="col-md-12 form-group">
                    <label for="allregenes" class="label">{{ 'products.productAllergens' | translate
                        }}</label>
                    <div class="multi-select-container">
                        <select class="form-control allow-selected-multiple-list-color" multiple="multiple">
                            <option *ngFor="let allergene of availableAllergens" [value]="allergene"
                                [ngClass]="{'active': filterObject.allergenes.includes(allergene) && filterObject.allergenes.length > 0}"
                                (click)="selectionOfTheList(productViewText.ALLERGENES, allergene)">
                                {{ allergene | translate}}
                            </option>
                        </select>
                    </div>

                    <!-- display the selected allergenes -->
                    <div *ngIf="filterObject.allergenes.length > 0">
                        <div class="selected-items-display" *ngFor="let selected of filterObject.allergenes"
                            (click)="removeItemFromTheList(productViewText.ALLERGENES, selected)" [@zoomIn]>
                            {{ selected | translate }}
                            <span style="cursor: pointer; color: red;">&times;</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Safety Section -->
            <div class="checkbox-container">
                <div class="row">
                    <!-- Safe for Pregnancy -->
                    <div class="col-md-12 form-group">
                        <label class="checkbox-container">
                            {{ 'products.safeForPregnancy' | translate }}
                            <input type="checkbox" [(ngModel)]="filterObject.safeForConsumptionDuringPregnancy"
                                (change)="applyFilters()" name="safeForConsumptionDuringPregnancy">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>


                <div class="row">
                    <!-- Safe for Breastfeeding -->
                    <div class="col-md-12 form-group">
                        <label class="checkbox-container">
                            {{ 'products.safeForBreastfeeding' | translate }}
                            <input type="checkbox" [(ngModel)]="filterObject.safeForConsumptionDuringBreastfeeding"
                                (change)="applyFilters()" name="safeForConsumptionDuringBreastfeeding">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="send-button-container">
            <button class="btn btn-primary forgot-btn btn delete-btn" type="button" nbButton status="warning"
                (click)="deleteFilters()">
                {{ 'filter.deleteFilter' | translate }}
            </button>
        </div>

    </div>

    <!-- Product Section -->
    <div class="product-container">
        <!-- If no products, display the empty card -->
        <div *ngIf="(emptyCollection === true)" class="product-empty-list-container">
            <nb-card class="emptyCard" [@zoomIn]>
                <nb-card-body>
                    <div>
                        <img src="../../../assets/images/no-products.jpg" alt="EmptyBox" class="emptyCardImage">
                        <p class="emptyCardText">{{ 'products.noProducts' | translate }}</p>
                    </div>
                    <div class="button-container">
                        <button class="btn btn-primary basic-btn basic-form-btn products-button delete-btn"
                            type="submit" nbButton status="success" (click)="deleteFilters()">{{
                            'filter.deleteFilter' | translate
                            }}</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="row">
            <!-- Product list -->
            <div *ngIf="paginatedFoodSupliments" class="product-list-container">
                <nb-card class="rounded-card productCard" *ngFor="let foodSupliment of paginatedFoodSupliments"
                    [@zoomIn]>
                    <nb-card-body class="product-image" (click)="goToProductPage(foodSupliment.id)">

                        <!-- display the sale badge if there is a discount -->
                        <span *ngIf="getDefaultPrice(foodSupliment).discountedPrice > 0" class="badge discount">{{
                            'home.sale' |
                            translate }}</span>

                        <div *ngIf="getDefaultPrice(foodSupliment) as defaultPrice"
                            class="details-container text-center">
                            <div class="image-container text-center">
                                <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                                    alt="Product Image" class="card-image" />
                                <img *ngIf="defaultPrice.productImage === ''"
                                    src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                                    class="card-image" />
                            </div>


                            <h4>{{ foodSupliment.productName }}</h4>

                            <!-- Display the average rating of the product -->
                            <div *ngIf="getProductReviews(foodSupliment.id).length > 0"
                                class="average-rating-product-display">
                                <i [attr.data-star]="getAverageRating(foodSupliment.id)"></i>
                                <span class="rating-number-product-display">
                                    {{ getProductReviews(foodSupliment.id).length }} {{ 'review.reviewText' |
                                    translate }}
                                </span>
                            </div>

                            <!-- display the price and if there is a discount, display the discounted price -->
                            <div class="price-container" *ngIf="getDefaultPrice(foodSupliment) as defaultPrice">
                                <h5 class="price-display" [class.has-discount]="defaultPrice.discountedPrice > 0">
                                    <span class="original-price" [class.crossed]="defaultPrice.discountedPrice > 0">
                                        {{ defaultPrice.productPrice }} {{ 'products.huf' | translate }}
                                    </span>
                                    <span class="discounted-price" *ngIf="defaultPrice.discountedPrice > 0">
                                        {{ defaultPrice.discountedPrice }} {{ 'products.huf' | translate }}
                                    </span>
                                </h5>
                            </div>

                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

        <!-- Pagination Controls -->
        <div *ngIf="paginatedFoodSupliments?.length !== 0" class="pagination-container">
            <button class="pagination-button prev" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <span class="icon">
                    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <!-- Filled left arrow -->
                        <path d="M26 6L14 16l12 10" fill="#0b8e92" />
                    </svg>
                </span> <!-- Left Arrow -->
            </button>

            <button *ngFor="let page of [].constructor(getTotalPages()); let i = index" class="pagination-button"
                [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">
                {{ i + 1 }}
            </button>

            <button class="pagination-button next" [disabled]="currentPage === getTotalPages()"
                (click)="goToPage(currentPage + 1)">
                <span class="icon">
                    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <!-- Filled right arrow -->
                        <path d="M6 6l12 10-12 10" fill="#0b8e92" />
                    </svg>
                </span> <!-- Right Arrow -->
            </button>
        </div>
    </div>
</div>

<!-- filter button -->
<div class="floating-button-container">
    <button class="floating-button" (click)="openFilterMenu()">
        <svg width="10vw" height="10vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15 10.5A3.502 3.502 0 0 0 18.355 8H21a1 1 0 1 0 0-2h-2.645a3.502 3.502 0 0 0-6.71 0H3a1 1 0 0 0 0 2h8.645A3.502 3.502 0 0 0 15 10.5zM3 16a1 1 0 1 0 0 2h2.145a3.502 3.502 0 0 0 6.71 0H21a1 1 0 1 0 0-2h-9.145a3.502 3.502 0 0 0-6.71 0H3z"
                    fill="#0b8e92"></path>
            </g>
        </svg>
    </button>
</div>