<!-- Display each product categories on nb cards so if the admin click one of these then go to the category main page -->

<div class="list-container">
    <!-- Food supliments card -->
    <nb-card class="rounded-card-category categoryCard" (click)="goToFoodSupliments()"
        [class.has-unchecked-reviews]="uncheckedFoodSuplimentsReviewsCount !== 0">
        <!-- Icon for Unchecked Reviews -->
        <div class="review-alert-icon" *ngIf="uncheckedFoodSuplimentsReviewsCount !== 0">
            <nb-icon icon="alert-circle-outline"></nb-icon> <!-- alert icon -->
        </div>

        <!-- product category -->
        <nb-card-header class="card-header default-label">
            <strong class="default-label">{{ 'menu.foodSuplimentsMenu.foodSupliments' | translate }} <br> ({{
                foodSuplimentsCount }} {{ 'products.pcs'
                | translate }})</strong>
        </nb-card-header>
        <nb-card-body class="category-image">
            <img src="../../../assets/images/food-supliments-image.jpg" alt="Food supliments"
                class="card-image-category" />
        </nb-card-body>
    </nb-card>

    <!-- Organic food card -->
    <nb-card class="rounded-card-category categoryCard" (click)="goToHealthyProducts()"
        [class.has-unchecked-reviews]="uncheckedOrganicFoodReviewsCount !== 0">
        <!-- Icon for Unchecked Reviews -->
        <div class="review-alert-icon" *ngIf="uncheckedOrganicFoodReviewsCount !== 0">
            &#x26A0; <!-- warning icon -->
        </div>

        <!-- product category -->
        <nb-card-header class="card-header default-label">
            <strong class="default-label">{{ 'menu.organicFoodMenu.organicFood' | translate }} <br> ({{
                organicProductsCount }} {{ 'products.pcs' |
                translate }})</strong>
        </nb-card-header>
        <nb-card-body class="category-image">
            <img src="../../../assets/images/healthy-food-image.jpg" alt="Healthy foof" class="card-image-category" />
        </nb-card-body>
    </nb-card>

    <!-- Clothing card -->
    <nb-card class="rounded-card-category categoryCard" (click)="goToClothes()"
        [class.has-unchecked-reviews]="uncheckedClothesReviewsCount !== 0">
        <!-- Icon for Unchecked Reviews -->
        <div class="review-alert-icon" *ngIf="uncheckedClothesReviewsCount !== 0">
            &#x26A0; <!-- warning icon -->
        </div>

        <!-- product category -->
        <nb-card-header class="card-header default-label">
            <strong class="default-label">{{ 'menu.clothingMenu.clothing' | translate }} <br> ({{ ClothesCount }} {{
                'products.pcs' | translate
                }})</strong>
        </nb-card-header>
        <nb-card-body class="category-image">
            <img src="../../../assets/images/clothing-image.jpg" alt="Clothing" class="card-image-category" />
        </nb-card-body>
    </nb-card>

    <!-- Accessories-->
    <nb-card class="rounded-card-category categoryCard" (click)="goToAccessories()"
        [class.has-unchecked-reviews]="uncheckedAccessoriesReviewsCount !== 0">
        <!-- Icon for Unchecked Reviews -->
        <div class="review-alert-icon" *ngIf="uncheckedAccessoriesReviewsCount !== 0">
            &#x26A0; <!-- warning icon -->
        </div>

        <!-- product category -->
        <nb-card-header class="card-header default-label">
            <strong class="default-label">{{ 'menu.accessoriesMenu.accessories' | translate }} <br> ({{ accessoriesCount
                }}
                {{
                'products.pcs' |
                translate }})</strong>
        </nb-card-header>
        <nb-card-body class="category-image">
            <img src="../../../assets/images/gym-accessories-image.jpg" alt="Accessories" class="card-image-category" />
        </nb-card-body>
    </nb-card>
</div>