input[type='email'] {
    cursor: text;
    margin-top: 1% !important;
}

.container {
    margin-top: 30px;
}

.container-all-window {
    margin: 30px;
    max-width: 800px;
    min-width: 800px;
    max-height: 600px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: 2% !important;
    margin-top: 1% !important;
}

input.ng-valid {
    border: 1px solid green;
    margin-bottom: 2% !important;
    margin-top: 1% !important;
}

.help-block-login-error {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.send-button-container {
    margin-top: 20px;
    text-align: center;
}

.title {
    text-align: center;
}

img {
    max-height: 200px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.help-block-login-error {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    /* Light red background */
    color: #721c24;
    /* Dark red text color */
    border: 1px solid #f5c6cb;
    /* Red border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px;
    margin: 15px 0;
    /* Margin around the error block */
    font-size: 1em;
    /* Adjust font size as needed */
}

.help-block-login-error .icon {
    margin-right: 10px;
    /* Space between the icon and text */
    font-size: 1.5em;
    /* Adjust icon size */
}

.forgot-btn {
    max-width: 500px;
    min-width: 500px;
}

.image-preview {
    max-height: 200px;
    width: auto;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.dropdown-list-container {
    margin-bottom: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
    height: fit-content;
    justify-content: center;
}

.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Style for the arrow icon */
.arrow-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.arrow-select {
    padding-right: 60px;
}

//multi select list

.multi-select-container {
    position: relative;
    margin-bottom: 20px;
    /* Add spacing between sections */
}

.drop-down-list {
    height: fit-content;
    /* Allow height to adjust for multiple selections */
}

option {
    padding: 10px;
    /* Increase padding for better touch targets */
}

/* Styles for active (selected) options */
option.active {
    background-color: #0b8e92 !important;
    /* Bootstrap primary color */
    color: white;
    /* Text color for active option */
}

.gender-select {
    max-height: 80px !important;
}

.allow-selected-multiple-list-color {
    cursor: pointer !important;
    padding: 0 !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    overflow-y: auto;

    // Active and focus color change
    &:focus,
    &:active {
        border-color: #0b8e92 !important;
        /* Change border color on focus */
        outline: none;
    }

    // Change the color of selected option
    option:checked {
        background-color: #fff;
    }

    // Hover state for dropdown options
    option:hover {
        background-color: #0b8e92 !important;
        color: white !important;
        cursor: pointer;
    }

    option:active {
        background-color: darken(#0b8e92, 15%);
        color: #fff;
    }
}

.allow-selected-list-color {
    cursor: pointer !important;

    // Active and focus color change
    &:focus,
    &:active {
        border-color: #0b8e92 !important;
        outline: none;
    }

    // Change the color of selected option
    option:checked {
        background-color: #0b8e92 !important;
        color: #fff; // Makes sure the text is readable on the colored background
    }

    option:target {
        background-color: #0b8e92 !important;
        color: #fff; // Makes sure the text is readable on the colored background
    }

    option:focus {
        background-color: #0b8e92 !important;
        color: #fff; // Makes sure the text is readable on the colored background
    }

    // Hover state for dropdown options
    option:hover {
        background-color: #0b8e92 !important;
        cursor: pointer !important;
        color: #fff;
    }

    option:active {
        background-color: #0b8e92 !important;
        color: #fff;
    }
}

.selected-items-display {
    background-color: #0b8e92;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 7px 5px;
    /* Space between items */
    padding: 5px 10px;
    /* More padding for better touch targets */
    border-radius: 20px;
    /* More rounded corners */
    border: 1px solid transparent;
    /* Border for selected items */
    transition: background-color 0.3s;
    border-radius: 20px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #0b8e92 !important;

    &:hover {
        color: red;
        transform: scale(1.05) !important;
        background-color: #fff;
    }

    &:active {
        background-color: darken(#0b8e92, 15%);
        transform: scale(0.95);
    }
}

.chechkbox-row {
    justify-content: center;
}