input[type='text'] {
    cursor: text;
}

.login-button-container {
    margin-top: 20px;
    text-align: center;
}

.forgot-password-text {
    font-weight: bold;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    color: #0b8e92;
    font-size: 17px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: #15b2b8 !important;
        transform: scale(1.1) !important;
    }

    &:active {
        color: darken(#0b8e92, 15%);
        transform: scale(0.95);
    }
}

.not-verrified-text {
    font-weight: bold;
    margin-top: 3%;
    cursor: pointer;
    color: #0b8e92;
    font-size: 17px !important;
    text-align: start;
    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: #15b2b8 !important;
        transform: scale(1.03) !important;
    }

    &:active {
        color: darken(#0b8e92, 15%);
        transform: scale(0.95);
    }
}

.fa-user {
    color: #0b8e92;
}

p {
    font-size: 18px !important;
    cursor: auto;
}

input[type='email'] {
    cursor: text;
    margin-bottom: 7px;
}

input[type='password'] {
    cursor: text;
    margin-bottom: 7px;
}

.container {
    margin-top: 20px;
}

.billingAddress {
    font-size: 22px !important;
    color: #0b8e92;
    border-bottom: 2px solid #0b8e92;
    padding-bottom: 8px;
}

@media (max-width: 768px) {
    .billingAddress {
        margin-top: 1rem !important;
        font-size: 18px !important;
    }
}

.container-addresses {
    max-height: 80vh !important;
    max-width: 760px !important;
    /* Set a maximum height (80% of the viewport height) */
    margin-top: 10px;
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.card-row {
    display: flex;
    justify-content: space-between;
    /* Space between cards */
    width: 100%;
    /* Full width for the row */
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to the next row */
    margin-top: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
    height: fit-content;
    justify-content: center;
}

.empty-list-container {
    margin-top: 10px;
    max-width: 60%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
}

.rounded-card {
    border-radius: 20px !important;
}

.container-profile {
    margin-top: 30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    justify-content: center;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: 1% !important;
}

input.ng-valid {
    border: 1px solid green;
}

.help-block-login-error {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    /* Light red background */
    color: #721c24;
    /* Dark red text color */
    border: 1px solid #f5c6cb;
    /* Red border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px;
    margin: 15px 0;
    /* Margin around the error block */
    font-size: 16px !important;
    /* Adjust font size as needed */

    // animation: fadeIn 0.3s ease;
}

.help-block-login-error .icon {
    margin-right: 10px;
    /* Space between the icon and text */
    font-size: 1.5em;
    /* Adjust icon size */
}

.help-block {
    color: #721c24;
    font-size: 15px !important;
}

.register-text {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.title {
    margin-top: 3%;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 28px !important;
}

button {
    font-size: 15px !important;
}

.register-div {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: flex-start;
    /* Align to top */
    position: relative;
    /* Needed if you use absolute positioning */
    font-size: 30px;
    /* Adjust the size of the icon */
    color: #333;
}

ul.custom-list {
    list-style-type: none;
    /* Remove default list markers */
    padding: 0;
    /* Remove default padding */
    margin-left: 5%;
    margin-right: 5%;
}

ul.custom-list li {
    position: relative;
    padding-left: 2em;
    /* Space for the custom symbol */
    margin-bottom: 1em;
    /* Space between items */
    font-size: 16px !important;

}

ul.custom-list li::before {
    content: "🏋️";
    /* Custom symbol */
    position: absolute;
    color: #0b8e92 !important;
    left: 0;
    font-size: 1.5em;
    /* Size of the symbol */
    top: 50%;
    transform: translateY(-50%);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    /* Vertically centers the elements */
}

.eye-icon {
    position: absolute;
    /* Remain positioned relative to the input-container */
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0b8e92;
    font-size: 18px;

    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: rgba(12, 122, 126, 0.747);
    }

    &:active {
        color: darken(#0b8e92, 15%);
    }
}

.col {
    margin-bottom: 1%;
}

.no-border-container {
    border: none;
}

.justify-content-center {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.emptyCard {
    background-color: #f9f9f9;
    margin-bottom: auto;
    width: 800px;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 992px) {
        width: 100% !important;
    }

    @media (max-width: 768px) {
        width: 100% !important;
    }
}

.emptyCardImage {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.card-header {
    cursor: pointer;

    strong {
        font-size: 20px !important;
    }

    span {
        font-size: 19px !important;
    }

    @media (max-width: 768px) {

        strong {
            font-size: 20px !important;
        }

        span {
            font-size: 18px !important;
        }
    }
}

.address-details {
    font-size: 16px !important;
    flex: 1 1 calc(50% - 20px);
}

.list-container p {
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;

    &:hover {
        color: #0b8e92;
    }
}

.list-container nb-card-body {
    cursor: pointer;
}

.addressCard {
    // Increase the width of the address card
    width: 100%; // Set width to 100% or a specific pixel/em value, e.g., 80% or 600px
    max-width: 40%;
    height: 280px !important;
    flex: 1 1 calc(50% - 20px);
    /* Two columns with space between */
    display: flex;
    flex-direction: column;
    /* Ensure content is stacked vertically */

    margin: 25px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add a subtle shadow effect
    border-radius: 8px;
    background-color: #ffffff; // Background color for the card
    cursor: pointer;
    // Align to the left side
    align-self: flex-start; // Align card to the start (left) of its container
    transition: background-color 0.3s ease, transform 0.3s ease !important;

    height: fit-content;

    &:hover {
        cursor: pointer;
        background-color: darken(#ffffff, 10%);
        transform: scale(1.05) !important;

        strong,
        span,
        p {
            color: #0b8e92 !important;
        }
    }

    &:active {
        cursor: pointer;
        color: #0b8e92 !important;
        background-color: darken(#ffffff, 15%);
        transform: scale(0.95);
    }

    @media (max-width: 992px) {
        max-width: 80% !important;
    }

    @media (max-width: 768px) {
        max-width: 100% !important;
        height: auto !important;
    }

    @media (max-width: 570px) {
        max-width: 100% !important;
        height: auto !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.address-type-selection {
    display: flex;
    justify-content: center;
    /* Align buttons closer to the left */
    gap: 40px;
    /* Adjust the spacing between the buttons */
    margin-bottom: 20px;

    .address-type-button {
        background-color: transparent;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        outline: none !important;
        transition: background-color 0.3s;

        nb-icon {
            font-size: 40px;
        }

        &:hover {
            background-color: #0b8e92 !important;
            color: white !important;
            transform: scale(1.05) !important;
        }

        &.active {
            background-color: #0b8e92 !important;
            /* Active background color */
            color: white !important;
            /* Active text color */
            transform: scale(1.05) !important;
            /* Active scale */
        }
    }
}

@media (max-width: 550px) {
    .address-type-selection {
        gap: 30px;
    }

    .address-type-button {
        width: 90px !important;
        height: 90px !important;
    }
}

@media (max-width: 470px) {
    .address-type-selection {
        gap: 20px;
    }

    .address-type-button {
        width: 80px !important;
        height: 80px !important;
    }
}

.address-type-label {
    font-weight: bold !important;
    margin-bottom: 8px;
    display: block;
    /* Ensure the label appears above the button group */
    font-size: 20px !important;
    color: #333;
    text-align: center;
}

@media(max-width: 1600px) {
    .container-profile {
        max-width: 50%;
    }

    .emptyCard {
        width: 700px;
    }
}

@media(max-width: 1450px) {
    .container-profile {
        max-width: 60%;
    }

    .emptyCard {
        width: 600px;
    }
}

@media(max-width: 1300px) {
    .container-profile {
        max-width: 70%;
    }

    .emptyCard {
        width: 500px;
    }
}

@media(max-width: 1000px) {
    .container-profile {
        max-width: 80%;
    }

    .emptyCard {
        width: 400px;
    }

    .responsive-row {
        display: block;
    }

    .login-btn {
        width: 270px;
    }
}

@media(max-width: 850px) {
    .container-profile {
        max-width: 90%;
    }

    .emptyCard {
        width: 300px;
    }

    .responsive-field-row {
        display: block;
    }
}

@media(max-width: 750px) {
    .forgot-password-text {
        margin-top: 20px !important;
    }

    .container-profile {
        max-width: 100%;
    }

    .emptyCard {
        width: 200px;
    }

    .login-btn {
        width: 250px;
        font-size: 14px !important;
    }
}

@media(max-width: 350px) {
    .login-btn {
        width: 200px;
        font-size: 12px !important;
    }
}

.billingAddress-container {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #0b8e92;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #15b2b8;
    }
}