input[type='text'] {
    cursor: text;
}

.login-button-container {
    margin-top: 20px;
    text-align: center;
}

.forgot-password-text {
    font-weight: bold;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    color: #0b8e92;
    font-size: 17px !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;

    &:hover {
        color: #15b2b8 !important;
        transform: scale(1.1) !important;
    }

    &:active {
        color: darken(#0b8e92, 15%);
        transform: scale(0.95);
    }
}

.fa-user {
    color: #0b8e92;
}

p {
    font-size: 18px !important;
    cursor: auto;
}

input[type='email'] {
    cursor: text;
    margin-bottom: 7px;
}

input[type='password'] {
    cursor: text;
    margin-bottom: 7px;
}

.container {
    margin-top: 30px;
}

.container-profile {
    margin-top: 30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: 1% !important;
}

input.ng-valid {
    border: 1px solid green;
}

.help-block-login-error {
    display: flex;
    align-items: center;
    background-color: #f8d7da;
    /* Light red background */
    color: #721c24;
    /* Dark red text color */
    border: 1px solid #f5c6cb;
    /* Red border */
    border-radius: 4px;
    /* Rounded corners */
    padding: 10px;
    margin: 15px 0;
    /* Margin around the error block */
    font-size: 16px !important;
    /* Adjust font size as needed */
}

.help-block-login-error .icon {
    margin-right: 10px;
    /* Space between the icon and text */
    font-size: 1.5em;
    /* Adjust icon size */
}

.help-block {
    color: #721c24;
    font-size: 15px !important;
}

.register-text {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.title {
    margin-top: 5%;
    text-align: center;
    font-weight: 700;
}

button {
    font-size: 15px !important;
}

.register-div {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: flex-start;
    /* Align to top */
    position: relative;
    /* Needed if you use absolute positioning */
    font-size: 30px;
    /* Adjust the size of the icon */
    color: #333;
}

ul.custom-list {
    list-style-type: none;
    /* Remove default list markers */
    padding: 0;
    /* Remove default padding */
    margin-left: 5%;
    margin-right: 5%;
}

ul.custom-list li {
    position: relative;
    padding-left: 2em;
    /* Space for the custom symbol */
    margin-bottom: 1em;
    /* Space between items */
    font-size: 16px !important;

}

ul.custom-list li::before {
    content: "🏋️";
    /* Custom symbol */
    position: absolute;
    left: 0;
    font-size: 1.5em;
    /* Size of the symbol */
    top: 50%;
    transform: translateY(-50%);
}

.col {
    margin-bottom: 1%;
}

.no-border-container {
    border: none;
}

.form-group {
    margin-bottom: 1rem; // Adjust as needed
}

@media(max-width: 1600px) {
    .container-profile {
        max-width: 50%;
    }
}

@media(max-width: 1450px) {
    .container-profile {
        max-width: 60%;
    }
}

@media(max-width: 1300px) {
    .container-profile {
        max-width: 70%;
    }
}

@media(max-width: 1000px) {
    .container-profile {
        max-width: 80%;
    }
}

@media(max-width: 850px) {
    .container-profile {
        max-width: 90%;
    }
}

@media(max-width: 750px) {
    .container-profile {
        max-width: 100%;
    }
}