.container-collapse-component {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 16px;


    nb-card-body {
        padding: 16px;
    }
}

.default-label {
    text-align: center;
}

.description-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* Fixed width */
    overflow: hidden;
    /* Prevents overflow beyond container width */
    text-align: start;
    flex-grow: 1
}

.description {
    word-wrap: break-word;
    /* Breaks long words to fit within the container */
    overflow-wrap: break-word;
    /* Ensures word breaks if needed */
    white-space: normal;
    /* Allows the text to wrap onto the next line */
    max-height: auto;
    /* Allows dynamic height expansion */
}

.blog-title {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: 700;
    text-align: start;
}

.read-more {
    color: #0b8e92;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: auto;
}

.details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-collapse-component {
    display: flex;
    justify-content: center;
    /* Center initially */
    align-items: center;
    cursor: pointer;

    h2 {
        margin: 0;
        font-size: 1.25rem;
        color: #333;
        flex-grow: 1;
    }

    .toggle-button-collapse-component {
        background-color: white;
        color: #0b8e92;
        border-radius: 10px;
        font-size: 20px;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
}

.title {
    transition: transform 250ms ease;
    overflow: hidden;

    &.center {
        font-size: 22px !important;
        transform: translateX(46%); // Start from center
    }

    &.left {
        font-size: 20px !important;
        transform: translateX(0); // Move to left
    }
}

.arrow {
    /* Center vertically */
    transform: translateY(-50%);
    /* Adjust vertical centering */
    color: #0b8e92;
    /* Set the color of the arrow */
    font-size: 23px;
    /* Adjust size as needed */
    animation: arrowLift 3s ease-in-out infinite;
}

@keyframes arrowLift {

    0%,
    100% {
        transform: translateY(-50%) translateY(-2px);
        /* Move up */
    }

    50% {
        transform: translateY(-50%) translateY(2px);
        /* Move down */
    }
}

.collapse-container {
    padding: 16px;
    background-color: white;
    border-top: 1px solid #0b8e92;
}

nb-card-body {
    overflow: hidden !important;
}

.card-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    /* Ensures the image covers the entire area without distortion */
    border-radius: 8px;
    /* Optional: if you want rounded corners on the image */
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

.card-image-category {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire area without distortion */
    border-radius: 8px;
    /* Optional: if you want rounded corners on the image */
    filter: grayscale(100%);
    /* Make the image black and white */
    transition: filter 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

.text-container {
    padding: 30px;
    text-align: center;
    justify-content: center;

    h1 {
        color: darken($color: #0b8e92, $amount: 5%)
    }

    p {
        font-style: italic;
        font-size: 22px;
        margin-bottom: 60px !important;
        cursor: default !important;
    }

    cursor: default !important;

}

.list-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to the next row */
    margin-top: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
    height: fit-content;
    justify-content: center;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping to the next row */
    margin-top: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
    height: fit-content;
    justify-content: center;
}

.empty-list-container {
    margin-top: 10px;
    max-width: 60%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
}

.product-empty-list-container {
    margin-top: 10px;
    max-width: 60%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 16px;
}

.rounded-card-category {
    border-radius: 20px !important;
    align-items: center;
    /* Vertically center the image */
    justify-content: center;
    /* Horizontally center the image */
    padding: 0 !important;
}

.rounded-card {
    border-radius: 20px !important;
    max-width: 300px !important;
}

.rounded-product-card {
    border-radius: 20px !important;
    max-width: 300px !important;
}


.products-button {
    width: 330px !important;
    font-size: 18px !important;
    margin-top: 20px;
    margin-bottom: 30px
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

h4 {
    margin-bottom: 8px !important;
}

h5 {
    margin-bottom: 0px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.emptyCardText {
    margin: 20px;
    font-size: 20px;
}

.emptyCard {
    background-color: #fff6f6;
    margin-bottom: auto;
    width: 800px;
    text-align: center;
    border-radius: 20px !important;
}

.emptyCardImage {
    display: block;
    margin: auto;
    width: 100px;
}

.list-container p {
    cursor: pointer;
}

.list-container nb-card-body {
    cursor: pointer;
}

.card-header {
    cursor: pointer;

    strong,
    span {
        font-size: 19px !important;
    }
}

.image-container {
    width: 100%;
    height: 300px !important;
    /* Ensure the image container takes the full width of the card */
    display: flex;
    justify-content: center;
    /* Center the image */
}

.image-container::after {
    content: "";
    /* Necessary for the overlay effect */
    position: absolute;
    /* Position it over the image */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Semi-transparent black for darkening effect */
    opacity: 0;
    /* Start with invisible overlay */
    transition: opacity 0.3s ease;
    /* Smooth transition for the overlay */
}

.image-container:hover::after {
    opacity: 0.5;
    /* Darken the image when hovering */
}

.category-image {
    display: flex;
    align-items: center;
    /* Vertically center the image */
    justify-content: center;
    /* Horizontally center the image */
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.product-image {
    align-items: center;
    /* Vertically center the image */
    justify-content: center;
    /* Horizontally center the image */
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.categoryCard {
    // Increase the width of the address card
    width: calc(50% - 40px);
    /* Ensure the card takes up half of the container width */
    max-width: 400px;
    flex: 1 1 calc(50% - 20px);
    /* Two columns with space between */
    display: flex;
    flex-direction: column;
    /* Ensure content is stacked vertically */
    padding: 0 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add a subtle shadow effect
    border-radius: 8px;
    background-color: darken(#ffffff, 10%); // Background color for the card
    cursor: pointer;
    // Align to the left side
    align-self: flex-start; // Align card to the start (left) of its container
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    height: fit-content;
    max-height: 500px;

    &:hover {
        cursor: pointer;
        background-color: darken(#ffffff, 5%);
        transform: scale(1.05) !important;

        strong,
        span,
        p {
            color: #0b8e92 !important;
        }
    }

    &:active {
        cursor: pointer;
        color: #0b8e92 !important;
        background-color: darken(#ffffff, 20%);
        transform: scale(0.95);
    }
}

.categoryCard:hover .card-image-category {
    filter: grayscale(0%);
    /* Remove black and white filter on hover (full color) */
    transform: scale(1.05);
    /* Optional: Slightly zoom in the image when hovered */
}

.productCard {
    // Increase the width of the address card
    width: calc(50% - 40px);
    /* Ensure the card takes up half of the container width */
    max-width: 280px;
    height: 450px !important;
    flex: 1 1 calc(50% - 20px);
    /* Two columns with space between */
    display: flex;
    flex-direction: column;
    /* Ensure content is stacked vertically */
    padding: 0 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add a subtle shadow effect
    border-radius: 8px;
    cursor: pointer;
    // Align to the left side
    align-self: flex-start; // Align card to the start (left) of its container
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    height: fit-content;
    max-height: 500px;
    overflow: hidden;
    /* To prevent overflow of the button overlay */

    &:hover {
        cursor: pointer;
        background-color: darken(#ffffff, 5%);
        transform: scale(1.05) !important;

        strong,
        span,
        h4,
        h5,
        p {
            color: #0b8e92 !important;
        }
    }

    &:active {
        cursor: pointer;
        color: #0b8e92 !important;
        background-color: darken(#ffffff, 20%);
        transform: scale(0.95);
    }
}

/* Overlay container for buttons */
.button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    gap: 10px;
    flex-direction: column;
}

/* Display the overlay buttons only on hover */
.productCard:hover .button-overlay {
    opacity: 1;
}

/* Style for overlay buttons */
.button-overlay button {
    width: 80%;
    padding: 10px 0;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.go-to-review-btn {
    margin-top: 20px;
}

/* Conditional styling for cards with unchecked reviews */
.productCard.has-unchecked-reviews {
    animation: pulseEffect 1.5s infinite;
    border: 2px solid orange;
}

/* Apply the pulse effect when there are unchecked reviews */
.pulsing-button {
    animation: pulseEffect 1.5s infinite;
    /* This will make the button pulse */
}

/* Optional: Style for the button when there are unchecked reviews */
.go-to-review-btn {
    position: relative;
}

/* Apply the color directly to the review count inside the go-to-review-btn */
.go-to-review-btn .review-count {
    padding: 0.3em;
    font-weight: 600;
    font-size: 17px;
}

.go-to-review-btn:hover {
    .review-count {
        color: rgba(255, 204, 0, 0.9) !important;
        /* Light orange for better contrast */
    }
}


.go-to-review-btn span.review-count {
    color: rgba(255, 111, 0, 1) !important;
}

/* Pulsing effect for attention */
@keyframes pulseEffect {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(255, 165, 0, 0.6);
    }

    50% {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba(255, 165, 0, 0.9);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(255, 165, 0, 0.6);
    }
}

/* Icon for unchecked reviews alert */
.review-alert-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: orange;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 10;
    animation: bounce 0.6s infinite alternate;
}

/* Bouncing effect for the alert icon */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

/* Conditional styling for cards with unchecked reviews */
.categoryCard.has-unchecked-reviews {
    animation: pulseEffect 1.5s infinite;
    border: 2px solid orange;
}

.blogCard {
    // Increase the width of the address card
    width: calc(50% - 40px);
    /* Ensure the card takes up half of the container width */
    max-width: 280px;
    height: 550px !important;
    flex: 1 1 calc(50% - 20px);
    /* Two columns with space between */
    display: flex;
    flex-direction: column;
    /* Ensure content is stacked vertically */
    padding: 0 !important;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add a subtle shadow effect
    border-radius: 8px;
    cursor: pointer;
    // Align to the left side
    align-self: flex-start; // Align card to the start (left) of its container
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    height: fit-content;

    &:hover {
        cursor: pointer;
        background-color: darken(#ffffff, 5%);
        transform: scale(1.05) !important;

        strong,
        span,
        h4,
        h5,
        p {
            color: #0b8e92 !important;
        }
    }

    &:active {
        cursor: pointer;
        color: #0b8e92 !important;
        background-color: darken(#ffffff, 20%);
        transform: scale(0.95);
    }
}

.price-container {
    margin: 10px 0;

    .price-display {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &.has-discount {
            .original-price {
                font-size: 0.9em;
                color: #838383;
                position: relative;

                &.crossed::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                    background: #ff7b00;
                    transform: translateY(-50%) rotate(-10deg);
                }
            }

            .discounted-price {
                color: #0b8e92;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }
}

@media (max-width: 768px) {
    h2 {
        transform: translateX(0) !important;
        /* Adjust translate for smaller screens */
    }
}

@media (max-width: 1500px) {
    .title {
        transition: transform 250ms ease;
        overflow: hidden;

        &.left {
            transform: translateX(0); // Start from left
        }

        &.center {
            transform: translateX(43%); // Move to center
        }
    }

    .categoryCard {
        max-width: 300px;
        max-height: 400px;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 1650px) {
    .categoryCard {
        max-width: 350px;
        max-height: 450px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1493px) {
    .categoryCard {
        max-width: 290px;
        max-height: 390px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1400px) {
    .categoryCard {
        max-width: 250px;
        max-height: 350px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1180px) {
    .categoryCard {
        max-width: 400px;
        max-height: 500px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 800px) {
    .categoryCard {
        max-width: 350px;
        max-height: 450px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 680px) {
    .categoryCard {
        max-width: 300px;
        max-height: 400px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .card-header {
        cursor: pointer;

        strong,
        span {
            font-size: 17px !important;
        }
    }
}

@media (max-width: 680px) {
    .categoryCard {
        max-width: 250px;
        max-height: 350px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .card-header {
        cursor: pointer;

        strong,
        span {
            font-size: 15px !important;
        }
    }
}

@media(min-height: 800px) {
    .empty-list-container {
        height: 500px !important;
    }

    .product-empty-list-container {
        height: 600px !important;
    }

    .product-list-container {
        min-height: 600px !important;
    }
}