html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

nb-layout-footer nav {
    justify-content: space-between !important;
    display: flex;
}