<div class="container">
    <!-- log out title -->
    <h1 id="title" class="title">Biztosan ki szeretnél jelentkezni?</h1>
    <!-- log out confirm buttons -->
    <div class="container">
        <nb-card>
            <nb-card-body>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary btn-logout" (click)="logOut()">Kijelentkezés</button>
                    <button type="submit" class="btn btn-primary btn-cancel" (click)="cancel()">Mégse</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>