<div class="container">
    <nb-card class="success-card">
        <nb-card-body>
            <div class="success-content">
                <!-- Logout Icon -->
                <div class="warning-mark">
                    <i class="fas fa-right-from-bracket power-icon"></i>
                </div>

                <!-- Message -->
                <p class="dialog-title">{{ 'header.logOutConfirm' | translate }}</p>

                <!-- Buttons -->
                <div class="button-container">
                    <button (click)="logOut()" class="btn btn-logout" type="submit">
                        {{ 'header.logOut' | translate }}
                    </button>
                    <button (click)="cancel()" class="btn btn-cancel" type="submit">
                        {{ 'header.cancel' | translate }}
                    </button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>