<div class="header-container">
    <!-- Left Side Elements -->
    <div class="logo-container">
        <!-- Sidebar toggle button -->
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon> <!-- Icon for menu toggle -->
        </a>

        <!-- Logo that navigates to home when clicked -->
        <a class="logo" (click)="navigateHome()"><img src="../../../assets/images/gym-bro-logo.png" alt="GymBro"
                class="logoImage"></a>
    </div>

    <!-- Right Side Elements -->
    <div class="header-container-right">
        <!-- Search bar that expands on click -->
        <div class="search-container" [ngClass]="{ 'expanded': searchExpanded }">
            <input *ngIf="searchExpanded" [(ngModel)]="searcForProductText" placeholder="{{
                                'filter.search' | translate }}" class="search-input" type="text"
                (ngModelChange)="onSearchChange()" autofocus />
            <i *ngIf="!searchExpanded" class="material-icons search-icon" (click)="openSearch()">
                search
            </i>
            <i *ngIf="searchExpanded" class="material-icons close-icon" (click)="closeSearch()">
                close
            </i>

            <!-- Search Results -->
            <div *ngIf="searchExpanded && searchResults.length > 0" class="search-results">
                <div *ngFor="let product of searchResults" class="search-result-item"
                    (click)="onProductSelected(product)">

                    <!-- Product Image and Details -->
                    <div *ngIf="getDefaultPrice(product) as defaultPrice" class="details-container">
                        <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                            alt="Product Image" class="product-image" />
                        <img *ngIf="defaultPrice.productImage === ''"
                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                            class="product-image" />

                        <div class="product-info">
                            <span class="product-name">{{ product.productName }}</span>

                            <div *ngIf="getProductReviews(product.id).length > 0"
                                class="average-rating-product-display">
                                <i [attr.data-star]="getAverageRating(product.id)"></i>
                            </div>
                            <div class="product-price">{{ defaultPrice.productPrice }} {{ 'products.huf' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- User information displayed if logged in -->
        <div *ngIf="userLoggedIn" class="header-container-user">
            <nb-user name={{user.firstName}} [picture]="false" [nbContextMenu]="userMenu"
                nbContextMenuTag="header-menu">
            </nb-user>
        </div>

        <!-- Login icon displayed if user is not logged in -->
        <div *ngIf="!userLoggedIn" class="header-container-user">
            <i (click)="navigateToLogin()" class="material-icons login-icon">login</i>
        </div>

        <!-- Cart button displayed if user is not admin -->
        <div *ngIf="userLoggedIn && !user.isAdmin || !userLoggedIn" class="header-container-user cart-button-container">
            <button class="cart-button" (click)="navigateToCart()">
                <i class="material-icons cart-icon">shopping_cart</i>
                <div class="cart-badge" *ngIf="(cartCount$ | async) > 0">
                    {{ cartCount$ | async }}
                </div>
            </button>

            <!-- Enhanced cart notification -->
            <div class="cart-notification" *ngIf="cartNotification$ | async as notification" [@slideInOut]>
                <div class="notification-content">
                    <div class="notification-header">
                        <i class="fas fa-check-circle"></i>
                        <span class="notification-text">{{ 'cart.addedToCart' | translate }}</span>
                    </div>
                    <div class="product-details">
                        <img *ngIf="notification.imageUrl" [src]="notification.imageUrl"
                            [alt]="notification.productName" class="product-image">
                        <img *ngIf="!notification.imageUrl" src="../../../assets/images/gym-bro-logo.png"
                            alt="Product Image" class="product-image">
                        <div class="product-info">
                            <h4 class="notification-text">{{ notification.productName }}</h4>
                            <div class="quantity-price">
                                <span class="calculation notification-text">
                                    {{ notification.quantity }} {{ 'products.pcs' | translate }}
                                </span>
                                <span class="total-price">
                                    {{ notification.quantity * notification.price }} {{ 'products.huf' | translate }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="notification-actions">
                        <button class="btn continue-btn" (click)="navigateToCart()">
                            {{ 'cart.goToCart' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button to switch language -->
        <div class="header-container-user">
            <button (click)="switchLanguage()" class="languageswitch-btn">{{ languageSwithButtonText.toUpperCase()
                }}</button>
        </div>
    </div>
</div>