<!-- loading spinner -->
<app-loading-spinner *ngIf="loadingService.loading$ | async" [overlay]="true"></app-loading-spinner>

<div class="dialog-container">
    <div class="dialog-header">
        <h5>{{ 'profileMenu.addresses' | translate }}</h5>
        <button class="close-button" (click)="close()" tabindex="-1">×</button>
    </div>

    <!-- If no shipping addresses are present -->
    <div *ngIf="shippingAddresses.length === 0" class="empty-list-container">
        <nb-card class="rounded-card emptyCard">
            <nb-card-body>
                <div>
                    <img src="../../../assets/images/no-address.png" alt="SadHouse" class="emptyCardImage">
                    <p>{{ 'profileMenu.noAddresses' | translate }}</p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <!-- Display addresses in a row -->
    <div class="addresses-container">
        <nb-card *ngFor="let address of shippingAddresses" class="rounded-card addressCard"
            (click)="selectAddress(address)">
            <nb-card-header class="card-header">
                <strong class="default-label">{{ address.addressName }}</strong>
                <span *ngIf="address.isSetAsDefaultAddress" class="default-badge">
                    {{ 'profileMenu.shippingAddressForm.defaultShippingAddress' | translate }}
                </span>
            </nb-card-header>
            <nb-card-body class="address-details">
                <!-- Billing Address Section -->
                <!-- billing same as shipping -->
                <div *ngIf="address.companyName &&!address.isBillingDifferentFromShipping">
                    <p>{{ address.street }} {{
                        address.streetType }}, {{
                        address.houseNumber }}</p>
                    <p>{{ address.floor ? (address.floor +
                        '/') : '' }}{{ address.door }}</p>
                    <p>{{ address.city }}, {{
                        address.postalCode }}</p>
                    <p>{{ address.country }}</p>
                </div>

                <!-- billing different from shipping -->
                <div *ngIf="address.companyName && address.isBillingDifferentFromShipping">
                    <p>{{ address.billingAddress.street }} {{
                        address.billingAddress.streetType }}, {{
                        address.billingAddress.houseNumber }}</p>
                    <p>{{ address.billingAddress.floor ? (address.billingAddress.floor +
                        '/') : '' }}{{ address.billingAddress.door }}</p>
                    <p>{{ address.billingAddress.city }}, {{
                        address.billingAddress.postalCode }}</p>
                    <p>{{ address.billingAddress.country }}</p>
                </div>

                <!-- Company details if they exist -->
                <p *ngIf="address.companyName">
                    <strong>{{ 'profileMenu.shippingAddressForm.companyName' | translate }}:</strong>
                    {{ address.companyName }}
                </p>
                <p *ngIf="address.taxNumber">
                    <strong>{{ 'profileMenu.shippingAddressForm.taxNumber' | translate }}:</strong>
                    {{ address.taxNumber }}
                </p>

                <!-- Shipping address section -->
                <!-- shipping address if don't have billing address -->
                <div *ngIf="!address.companyName">
                    <p>{{ address.street }} {{ address.streetType }}, {{
                        address.houseNumber }}</p>
                    <p>{{ address.floor ? (address.floor + '/') : '' }}{{
                        address.door
                        }}</p>
                    <p>{{ address.city }}, {{ address.postalCode }}</p>
                    <p>{{ address.country }}</p>
                </div>

                <!--shipping address if have billing address -->
                <div *ngIf="address.companyName">
                    <div class="billing-address-section">
                        <h5>{{ 'checkout.shippingAddress.title' | translate }}</h5>
                        <p>{{ address.street }} {{ address.streetType }}, {{
                            address.houseNumber }}</p>
                        <p>{{ address.floor ? (address.floor + '/') : '' }}{{
                            address.door
                            }}</p>
                        <p>{{ address.city }}, {{ address.postalCode }}</p>
                        <p>{{ address.country }}</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button class="edit-btn" (click)="editAddress(address.id); $event.stopPropagation()">
                    <nb-icon icon="edit-2-outline"></nb-icon>
                    {{ 'profilePage.modify' | translate }}
                </button>
            </nb-card-footer>
        </nb-card>
    </div>

    <!-- Add New Address Button -->
    <div class="action-buttons">
        <button class="btn btn-primary basic-btn" nbButton status="success" (click)="goToAddNewAddress()">
            {{ 'profileMenu.addNewShippingAddress' | translate }}
        </button>


        <div class="button-container">
            <button class="btn btn-primary basic-btn back-btn basic-form-btn" type="submit" nbButton status="success"
                (click)="close()">
                <span class="arrow">
                    <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <!-- Filled left arrow -->
                        <path d="M26 6L14 16l12 10" fill="#0b8e92" />
                    </svg>
                </span>
                {{ 'loginPage.back' | translate }}
            </button>
        </div>
    </div>
</div>