<!-- Hamburger Icon (Button to Toggle Sidebar) -->
<nb-icon *ngIf="!sidebarOpen" icon="menu-outline" class="hamburger-icon" (click)="toggleSidebar()"></nb-icon>

<!-- Sidebar Content -->
<div class="sidebar" [ngClass]="{ 'sidebar-open': sidebarOpen }">
    <div class="sidebar-header">
        <!-- Logo at the top of the Sidebar -->
        <div class="logo-container">
            <img src="../../../assets/images/gym-bro-logo.png" alt="GymBro Logo" class="sidebar-logo">
        </div>
        <!-- Close Icon -->
        <nb-icon icon="close-outline" class="close-icon" (click)="toggleSidebar()"></nb-icon>
    </div>

    <!-- Profile/Login, Notification, Language Changer (Only visible on smaller screens) -->
    <div class="sidebar-bottom">
        <!-- Profile Section -->
        <div class="profile" *ngIf="userLoggedIn">
            <nb-icon icon="person-outline" class="profile-icon"></nb-icon>
            <span class="profile-text" (click)="toggleProfileOptions()">
                {{ userFirstName }}
            </span>
        </div>





        <div class="notification-panel profile-options" *ngIf="profileOptionsOpen" [@collapseField]>
            <div class="notification-content">
                <!--Profile Section -->
                <div class="notification-item" (click)="navigateToProfile()">
                    <div class="notification-details">
                        <span>{{ 'header.profile' | translate }}</span>
                    </div>
                </div>

                <div class="notification-item profile-item" (click)="logOut()">
                    <div class="notification-details">
                        <span>{{ 'header.logOut' | translate }}</span>
                    </div>
                </div>

            </div>
        </div>







        <!-- Login Button for Unauthenticated Users -->
        <div class="profile" *ngIf="!userLoggedIn" (click)="navigateToProfile()">
            <nb-icon icon="person-outline" class="profile-icon"></nb-icon>
            <span class="profile-text">{{ 'loginPage.login' | translate }}</span>
        </div>


        <!-- Notifications Section -->
        <div class="notification-trigger" *ngIf="userLoggedIn" (click)="toggleNotificationPanel()">
            <nb-icon icon="bell-outline" class="notification-icon"></nb-icon>
            <!-- User notification badge - shows count from userOrdersCount$ observable -->
            <span class="notification-badge" *ngIf="!user?.isAdmin && (userOrdersCount$ | async) > 0">
                {{userOrdersCount$ | async}}
            </span>

            <span class="notification-badge" *ngIf="user?.isAdmin && (adminNotificationCount$ | async) > 0">
                {{adminNotificationCount$ | async}}
            </span>
        </div>

        <!-- User Notification Panel -->
        <div class="notification-panel" *ngIf="showNotificationPanel && !user?.isAdmin" [@collapseField]>
            <div class="notification-content">
                <!-- New Orders Section -->
                <div class="notification-item" *ngIf="(userOrdersCount$ | async) > 0"
                    (click)="navigateToBasicUserToOrders()">
                    <i class="material-icons">shopping_basket</i>
                    <div class="notification-details">
                        <span class="notification-title">{{ 'adminMenu.notifications.newOrders' | translate
                            }}</span>
                        <span class="notification-count">{{userOrdersCount$ | async}}</span>
                    </div>
                </div>

                <!-- No Notifications Message -->
                <div class="no-notifications" *ngIf="(userOrdersCount$ | async) === 0">
                    {{ 'adminMenu.notifications.noNewNotifications' | translate }}
                </div>
            </div>
        </div>

        <div class="notification-panel" *ngIf="showNotificationPanel && user?.isAdmin" [@collapseField]>
            <div class="notification-content">
                <!-- New Orders Section -->
                <div class="notification-item" *ngIf="(newOrdersCount$ | async) > 0"
                    (click)="navigateToAdminProfileToOrders()">
                    <i class="material-icons">shopping_basket</i>
                    <div class="notification-details">
                        <span class="notification-title">{{ 'adminMenu.notifications.newOrders' | translate
                            }}</span>
                        <span class="notification-count">{{newOrdersCount$ | async}}</span>
                    </div>
                </div>

                <!-- New Reviews Section -->
                <div class="notification-item profile-item" *ngIf="(newReviewsCount$ | async) > 0"
                    (click)="navigateToAdminProfileToReviews()">
                    <i class="material-icons">rate_review</i>
                    <div class="notification-details">
                        <span class="notification-title">{{ 'adminMenu.notifications.newReviews' | translate
                            }}</span>
                        <span class="notification-count">{{newReviewsCount$ | async}}</span>
                    </div>
                </div>

                <!-- No Notifications Message -->
                <div class="no-notifications" *ngIf="(adminNotificationCount$ | async) === 0">
                    {{ 'adminMenu.notifications.noNewNotifications' | translate }}
                </div>
            </div>
        </div>

        <!-- Language Switch Button (only on small screens) -->
        <div class="language-changer">
            <button (click)="switchLanguage()" class="languageswitch-btn">
                {{ languageSwithButtonText.toUpperCase() }}
            </button>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="sidebar-content">
        <ul>
            <li *ngFor="let link of pageLinks">
                <a [routerLink]="link.route" (click)="closeSidebar()">
                    <nb-icon class="sidebar-link-icon" [icon]="link.icon"></nb-icon>
                    <span class="sidebar-link-name">{{ link.name | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>