<!-- loading spinner -->
<app-loading-spinner [overlay]="true" *ngIf="loadingService.loading$ | async"></app-loading-spinner>

<div class="container-all-window">
    <!-- forgot password title -->
    <h1 id="title" class="title">{{ 'loginPage.forgotPasswordPageTitle' | translate }}</h1>
    <!-- forgot password form -->
    <div class="container">
        <nb-card>
            <nb-card-body>
                <!-- if the email is not sent yet then it shows the forgot-password area -->
                <div *ngIf="!emailSent">
                    <form (ngSubmit)="forgotPassword()" #form="ngForm">
                        <!-- email block -->
                        <div class="form-group">
                            <label for="email" class="label">{{ 'loginPage.emailAddress' | translate }}</label>
                            <input type="email" class="form-control" [(ngModel)]="emailToForgotPassword" name="email"
                                fullWidth placeholder="E-mail" required email #email="ngModel">
                            <!-- email error block -->
                            <span class="help-block" *ngIf="!email.valid && email.touched" [@zoomIn]>{{
                                'loginPage.invalidEmail' |
                                translate }}</span>
                        </div>
                        <!-- error block -->
                        <span *ngIf="errorMessage" class="help-block-login-error" [@zoomIn]>
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'loginPage.emailNotRegistered' | translate }}
                        </span>
                        <!-- forgot password submit button -->
                        <div class="send-button-container">
                            <button class="btn btn-primary forgot-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid">{{ 'loginPage.sendEmail' | translate }}</button>
                        </div>
                    </form>
                    <div class="send-button-container">
                        <button class="btn btn-primary forgot-btn" type="submit" nbButton status="success"
                            (click)="back()">{{
                            'loginPage.back' | translate }}</button>
                    </div><br>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>