<div class="container-all-window">
    <!-- forgot password title -->
    <h1 id="title" class="title">Jelszó helyreállítása</h1>
    <!-- forgot password form -->
    <div class="container">
        <nb-card>
            <nb-card-body>
                <!-- if the email is not sent yet then it shows the forgot-password area -->
                <div *ngIf="!emailSent">
                    <form (ngSubmit)="forgotPassword()" #form="ngForm">
                        <!-- email block -->
                        <div class="form-group">
                            <label for="email" class="label">E-mail cím</label>
                            <input type="email" class="form-control" [(ngModel)]="emailToForgotPassword" name="email"
                                fullWidth placeholder="E-mail" required email #email="ngModel">
                            <!-- email error block -->
                            <span class="help-block" *ngIf="!email.valid && email.touched">Érvénytelen e-mail
                                cím!</span>
                        </div><br>
                        <!-- forgot password submit button -->
                        <div class="send-button-container">
                            <button class="btn btn-primary" type="submit" nbButton status="success"
                                [disabled]="!form.valid">Jelszó helyreállító link küldése</button>
                        </div>
                        <span class="help-block-login-error" *ngIf="errorMessage">Érvénytelen e-mail
                            cím!</span>
                    </form><br>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>