<div class="container">
    <nb-card class="success-card">
        <nb-card-body>
            <div class="success-content">
                <!-- Price Icon -->
                <div class="warning-mark">
                    <i class="fas fa-sack-dollar power-icon"></i>
                </div>

                <!-- Message -->
                <p class="dialog-title">{{ 'products.changeDefaultPriceText' | translate }}</p>

                <!-- Buttons -->
                <div class="button-container">
                    <button (click)="confirm()" class="btn btn-confirm" type="submit">
                        {{ 'profileMenu.shippingAddressForm.changeDefaultAddressConfirm' | translate }}
                    </button>
                    <button (click)="cancel()" class="btn btn-cancel" type="submit">
                        {{ 'header.cancel' | translate }}
                    </button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>