<div class="container">
    <nb-card class="success-card">
        <nb-card-body>
            <div class="success-content">
                <!-- Question Mark Icon -->
                <div class="question-mark">
                    <span class="question-symbol">?</span>
                </div>

                <!-- Message -->
                <p class="dialog-title">{{ 'profileMenu.shippingAddressForm.changeDefaultAddressTitle' | translate }}
                </p>

                <!-- Buttons -->
                <div class="button-container">
                    <button (click)="confirm()" class="btn btn-confirm" type="submit">
                        {{ 'profileMenu.shippingAddressForm.changeDefaultAddressConfirm' | translate }}
                    </button>
                    <button (click)="cancel()" class="btn btn-cancel" type="submit">
                        {{ 'header.cancel' | translate }}
                    </button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>