<!-- New Address title -->
<h1 id="title" class="title">{{ 'profileMenu.shippingAddressForm.newAddressTitle' | translate }}</h1>
<!-- address form -->
<div class="container-addresses">
    <nb-card>
        <nb-card-body class="login-col">

            <div class="row">
                <div class="col">
                    <form (ngSubmit)="addNewAddress()" #form="ngForm">
                        <div class="row">
                            <div class="col-8">
                                <!-- Country block -->
                                <div class="form-group">
                                    <label for="country" class="label">{{ 'profileMenu.shippingAddressForm.country' |
                                        translate }}</label>
                                    <input type="text" class="form-control" ngModel name="country" minlength="1"
                                        required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.country' | translate }}*"
                                        #country="ngModel">
                                    <span class="help-block" *ngIf="country.touched && !country.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Postal code block -->
                                <div class="form-group">
                                    <label for="postalCode" class="label">{{
                                        'profileMenu.shippingAddressForm.postalCode' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="postalCode" minlength="1"
                                        required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.postalCode' | translate }}*"
                                        #postalCode="ngModel">
                                    <span class="help-block" *ngIf="postalCode.touched && !postalCode.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <!-- City block -->
                                <div class="form-group">
                                    <label for="city" class="label">{{
                                        'profileMenu.shippingAddressForm.city' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="city" required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.city' | translate }}*"
                                        #city="ngModel">
                                    <span class="help-block" *ngIf="city.touched && !city.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Street block -->
                                <div class="form-group">
                                    <label for="streetName" class="label">{{
                                        'profileMenu.shippingAddressForm.streetName' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="streetName" required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.streetName' | translate }}*"
                                        #streetName="ngModel">
                                    <span class="help-block" *ngIf="streetName.touched && !streetName.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Street type block -->
                                <div class="form-group">
                                    <label for="streetType" class="label">{{
                                        'profileMenu.shippingAddressForm.streetType' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="streetType" required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.streetType' | translate }}*"
                                        #streetType="ngModel">
                                    <span class="help-block" *ngIf="streetType.touched && !streetType.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <!-- House number block -->
                                <div class="form-group">
                                    <label for="houseNumber" class="label">{{
                                        'profileMenu.shippingAddressForm.houseNumber' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="houseNumber" required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.houseNumber' | translate }}*"
                                        #houseNumber="ngModel">
                                    <span class="help-block" *ngIf="houseNumber.touched && !houseNumber.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Floor block -->
                                <div class="form-group">
                                    <label for="floor" class="label">{{ 'profileMenu.shippingAddressForm.floor' |
                                        translate }}</label>
                                    <input type="number" class="form-control" ngModel name="floor"
                                        placeholder="{{ 'profileMenu.shippingAddressForm.floor' | translate }}"
                                        #floor="ngModel">
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Door block -->
                                <div class="form-group">
                                    <label for="door" class="label">{{ 'profileMenu.shippingAddressForm.door' |
                                        translate }}</label>
                                    <input type="number" class="form-control" min="1" ngModel name="door"
                                        placeholder="{{ 'profileMenu.shippingAddressForm.door' | translate }}"
                                        #door="ngModel">
                                    <span class="help-block" *ngIf="door.touched && !door.valid">{{
                                        'profileMenu.shippingAddressForm.fieldIncorrect' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- company address Checkbox -->
                        <div class="form-group">
                            <label for="companyAddress" class="checkbox-container">
                                <label for="companyAddress">{{ 'profileMenu.shippingAddressForm.setAsCompanyAddress'
                                    | translate }}
                                </label>
                                <input type="checkbox" [(ngModel)]="isCompanyAddressChecked" name="companyAddress"
                                    id="companyAddress" #admin="ngModel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div *ngIf="isCompanyAddressChecked" [@collapseFields] class="row">
                            <div class="col-6">
                                <!-- Company name block -->
                                <div class="form-group">
                                    <label for="companyName" class="label">{{
                                        'profileMenu.shippingAddressForm.companyName' |
                                        translate }}</label>
                                    <input type="text" class="form-control" ngModel name="companyName" minlength="1"
                                        required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.companyName' | translate }}*"
                                        #companyName="ngModel">
                                    <span class="help-block" *ngIf="companyName.touched && !companyName.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <!-- Tax number block -->
                                <div class="form-group">
                                    <label for="taxNumber" class="label">{{
                                        'profileMenu.shippingAddressForm.taxNumber' | translate }}</label>
                                    <input type="text" class="form-control" ngModel name="taxNumber" minlength="1"
                                        required
                                        placeholder="{{ 'profileMenu.shippingAddressForm.taxNumber' | translate }}*"
                                        #taxNumber="ngModel">
                                    <span class="help-block" *ngIf="taxNumber.touched && !taxNumber.valid">{{
                                        'register.fieldRequired' | translate }}</span>
                                </div>
                            </div>
                        </div><br>
                        <!-- Address Type Buttons -->
                        <div class="form-group">
                            <p for="addressType" class="address-type-label">
                                {{ 'profileMenu.shippingAddressForm.addressName' | translate }}
                            </p><br>
                            <div class="address-type-selection">
                                <!-- Address type, name is from the AddressTypeTexts ENUM -->
                                <button type="button" class="btn address-type-button"
                                    [ngClass]="{'active': selectedAddressType === 'home'}"
                                    (click)="selectAddressType(addressTypeTexts.HOME)">
                                    <nb-icon icon="home-outline"></nb-icon> <!-- Home Icon -->
                                </button>
                                <button type="button" class="btn address-type-button"
                                    [ngClass]="{'active': selectedAddressType === 'work'}"
                                    (click)="selectAddressType(addressTypeTexts.WORK)">
                                    <nb-icon icon="briefcase-outline"></nb-icon> <!-- Work Icon -->
                                </button>
                                <button type="button" class="btn address-type-button"
                                    [ngClass]="{'active': selectedAddressType === 'other'}"
                                    (click)="selectAddressType(addressTypeTexts.OTHER)">
                                    <nb-icon icon="plus-outline"></nb-icon> <!-- Other Icon -->
                                </button>
                            </div>
                        </div>

                        <!-- Address Name Input (only visible for 'other') -->
                        <div *ngIf="selectedAddressType === addressTypeTexts.OTHER" [@collapseFields]
                            class="password-info">
                            <div class="form-group">
                                <label for="addressName" class="label">{{ 'profileMenu.shippingAddressForm.addressName'
                                    | translate }}</label>
                                <input type="text" class="form-control" (ngModel)="addressName" name="addressName"
                                    required
                                    placeholder="{{ 'profileMenu.shippingAddressForm.addressName' | translate }}*"
                                    #addressName="ngModel">
                                <span class="help-block" *ngIf="addressName.touched && !addressName.valid">{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>
                        </div><br>
                        <!-- set too default address Checkbox -->
                        <div class="form-group">
                            <label for="setToDefaultAddress" class="checkbox-container">
                                <label for="setToDefaultAddress">{{ 'profileMenu.shippingAddressForm.setToDefault' |
                                    translate }}
                                </label>
                                <input type="checkbox" [(ngModel)]="isSetAsDefaultAddress" name="setToDefaultAddress"
                                    id="setToDefaultAddress" #admin="ngModel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <!-- missing addres name error -->
                        <span *ngIf="missingAddressNameError" class="help-block-login-error">
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'profileMenu.shippingAddressForm.missingAddressNameError' | translate }}
                        </span>
                        <!-- name exists error -->
                        <span *ngIf="errorMessage" class="help-block-login-error">
                            <i class="fas fa-exclamation-triangle icon"></i> <!-- Caution icon -->
                            {{ 'profileMenu.shippingAddressForm.nameAlreadyExists' | translate }} ({{
                            addressName}})
                        </span>
                        <!-- new address submit button -->
                        <div class="login-button-container">
                            <button class="btn btn-primary basic-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid">{{ 'profileMenu.shippingAddressForm.addAddress' | translate
                                }}</button>
                        </div>
                    </form>
                    <div class="login-button-container">
                        <button class="btn btn-primary basic-btn back-btn" type="submit" nbButton status="success"
                            (click)="back()">
                            <span class="arrow">&#9664;</span>
                            {{ 'loginPage.back' | translate }}</button>
                    </div><br>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</div>