<div class="container" [@zoomIn]>
    <nb-card class="container">
        <nb-card-body class="login-col">
            <form #form="ngForm">
                <!-- Product Details Section -->
                <h3>{{ 'products.productDetails' | translate }}</h3>
                <div class="row">
                    <!-- Product Name -->
                    <div class="col-md-6 form-group">
                        <label for="productName" class="label">{{ 'products.productName' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="accessoryObject.productName"
                            name="productName" required placeholder="{{ 'products.enterProductName' | translate }}"
                            #productName="ngModel">
                        <span class="help-block" *ngIf="productName.touched && !productName.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>

                    <!-- Product Category (Dropdown) -->
                    <div class="col-md-6 form-group">
                        <label for="productCategory" class="label">{{ 'products.productCategory' | translate }}</label>
                        <select class="form-control drop-down-list allow-selected-list-color" name="productCategory"
                            required #productCategory="ngModel" [(ngModel)]="selectedCategory">
                            <!-- Placeholder category -->
                            <option [value]="selectedCategory" selected>{{ selectedCategory | translate }}
                            </option>
                        </select>
                        <span class="help-block" *ngIf="productCategory.touched && !productCategory.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <!-- Accessory type Section -->
                <div class="row">
                    <!-- Clothing type Section (Dropdown list) -->
                    <div class="col-md-6 form-group">
                        <label for="accessoriesType" class="label">{{ 'products.accessories.accessoriesType' | translate
                            }}</label>
                        <select class="form-control drop-down-list allow-selected-list-color" name="accessoriesType"
                            required #accessoriesType="ngModel" [(ngModel)]="selectedAccessoryType"
                            (ngModelChange)="isTypeSelected()">
                            <!-- Placeholder option -->
                            <option value="" selected disabled>{{ 'products.accessories.selectAccessoriesType' |
                                translate
                                }}
                            </option>

                            <!-- List of accessories types -->
                            <option *ngFor="let accessoriesType of availableAccessoriesTypes" [value]="accessoriesType">
                                {{ accessoriesType | translate }}
                            </option>
                        </select>
                        <span class="help-block" *ngIf="accessoriesType.touched && !accessoriesType.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>

                    <!-- Small description -->
                    <div class="col-md-6 form-group">
                        <label for="smallDescription" class="label">{{ 'products.smallDescription' | translate
                            }}</label>
                        <textarea class="form-control" [(ngModel)]="accessoryObject.smallDescription"
                            name="smallDescription" required
                            placeholder="{{ 'products.enterProductSmallDescription' | translate }}"
                            #smallDescription="ngModel" maxlength="150"
                            (keyup)="smallDescriptionLength = accessoryObject.smallDescription.length"></textarea>

                        <!-- Character count display with conditional red color when max limit is reached -->
                        <small
                            [ngClass]="{'text-danger': smallDescriptionLength >= 150 || smallDescriptionLength === 0, 'text-success': smallDescriptionLength < 150 && smallDescriptionLength > 0}">
                            {{ smallDescriptionLength || 0 }}/150
                        </small>

                        <!-- error block -->
                        <span class="help-block" *ngIf="smallDescription.touched && !smallDescription.valid"
                            [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <!-- Description Section -->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="description" class="label">{{ 'products.description' | translate }}</label>
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                            <ngx-editor [editor]="editor" [(ngModel)]="description" name="description"
                                [disabled]="false"
                                placeholder="{{ 'products.enterProductDescription' | translate }}"></ngx-editor>
                        </div>
                    </div>
                </div>

                <!-- Color and image -->
                <div *ngIf="selectedAccessoryType === productViewText.SHAKERS" [@collapseField]>
                    <hr>
                    <h3>{{ 'products.clothes.color' | translate }}</h3>

                    <div class="row">
                        <!-- Display product colors, images dynamically in a 2-column layout -->
                        <div class="list-container">
                            <nb-card class="rounded-card categoryCard"
                                *ngFor="let color of accessoryColors; let i = index">
                                <nb-card-body class="category-image" (click)="editColor(i)">
                                    <!-- Product Image at the top -->
                                    <div class="image-container text-center">
                                        <img *ngIf="color.imageUrl !== ''" [src]="color.imageUrl" alt="Product Image"
                                            class="card-image" />
                                        <img *ngIf="color.imageUrl === ''"
                                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                                            class="card-image" />
                                    </div>

                                    <!-- Product Details (Color) below the image -->
                                    <div class="details-container text-center">
                                        <h3>{{ 'products.clothes.color' | translate }}: {{ color.color | translate }}
                                        </h3>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <!-- add new color card -->
                        <div class="col-md-12 form-group container price-col">
                            <!-- add button -->
                            <button class="btn btn-primary basic-btn basic-form-btn add-price-btn"
                                (click)="addNewColor()">
                                {{ 'products.clothes.addNewColor' | translate }}
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- Price, size and stock -->
                <div *ngIf="selectedAccessoryType === productViewText.WEIGHT_LIFTING || (selectedAccessoryType === productViewText.SHAKERS && accessoryColors.length !== 0)"
                    [@collapseField]>
                    <h3>{{ 'products.priceAndQuantity' | translate }}</h3>

                    <!-- Use unified image -->
                    <div *ngIf="selectedAccessoryType === productViewText.WEIGHT_LIFTING"
                        class="row chechkbox-row left-checkbox">
                        <!-- Unified image checkbox -->
                        <div class="col-md-3 form-group">
                            <label class="checkbox-container">
                                {{ 'products.unifiedImage' | translate }}
                                <input type="checkbox" [(ngModel)]="isUnifiedImage" name="isUnifiedImage"
                                    (ngModelChange)="onUnifiedImageChange($event)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <!-- unified image upload input -->
                    <div *ngIf="isUnifiedImage" [@collapseField] class="form-group">
                        <label for="productImage" class="label">{{ 'products.productImage' | translate
                            }}</label>

                        <!-- Button to Trigger Image Upload -->
                        <div class="send-button-container blog-btn-container">
                            <button class="btn btn-primary forgot-btn blog-btn" type="button" nbButton
                                (click)="triggerImageUpload()">
                                {{ 'products.uploadProductImage' | translate }}
                            </button>
                        </div>

                        <!-- Hidden file input for Image Upload -->
                        <input type="file" #fileInput accept="image/*" style="display: none"
                            (change)="onFileSelected($event)" />

                        <!-- Display selected image -->
                        <div [@collapseField] *ngIf="unifiedImageUrl" class="image-preview-container">
                            <button class="delete-image-button-unified-image btn" (click)="removeImage()"
                                type="button">X</button>
                            <img (click)="triggerImageUpload()" [src]="unifiedImageUrl" alt="Image Preview"
                                class="image-preview" />
                        </div>
                        <br>
                    </div>

                    <div class="row">
                        <!-- Display product prices dynamically in a 2-column layout -->
                        <div class="list-container">
                            <nb-card class="rounded-card categoryCard"
                                *ngFor="let price of productPrices; let i = index">
                                <nb-card-body class="category-image" (click)="editPrice(i)">
                                    <!-- Product Image at the top -->
                                    <div class="image-container text-center">
                                        <img *ngIf="price.productImage !== ''" [src]="price.productImage"
                                            alt="Product Image" class="card-image" />
                                        <img *ngIf="price.productImage === ''"
                                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                                            class="card-image" />
                                    </div>

                                    <!-- Product Details (Price and size) below the image -->
                                    <div class="details-container text-center">
                                        <!-- show 'default' text if the current address is the default -->
                                        <nb-card-header class="card-header">
                                            <span *ngIf="price.setAsDefaultPrice">{{
                                                'profileMenu.shippingAddressForm.defaultShippingAddress' | translate
                                                }}</span>
                                        </nb-card-header>

                                        <h3>{{ price.productPrice }} {{ 'products.huf' | translate }}</h3>
                                        <p class="weight-text">{{ 'products.clothes.size' | translate }}: {{
                                            price.productSize }}</p>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <!-- add new price card -->
                        <div class="col-md-12 form-group container price-col">
                            <!-- add button -->
                            <button class="btn btn-primary basic-btn basic-form-btn add-price-btn"
                                (click)="addNewPrice()">
                                {{ 'products.addNewPrice' | translate }}
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- Prices missing block -->
                <span *ngIf="missingPricesErrorMessage" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'products.missingPricesError' | translate }}
                </span>

                <!-- Product name exists block -->
                <span *ngIf="productNameExistsError" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'products.productNameExistsError' | translate }}
                </span>

                <!-- Error block -->
                <span *ngIf="errorMessage" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'basicErrorMessage' | translate }}
                </span>

                <!-- Create Button -->
                <div *ngIf="!isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn basic-form-btn" type="submit" nbButton status="success"
                        (click)="addNewAccessory()" [disabled]="!form.valid">{{ 'products.add' | translate
                        }}</button>
                </div>

                <div *ngIf="isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn basic-form-btn" type="submit" nbButton status="success"
                        (click)="editAccessory()" [disabled]="!form.valid">{{ 'profilePage.modify' | translate
                        }}</button>
                </div>
                <div *ngIf="isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn delete-btn basic-form-btn" type="submit" nbButton
                        status="success" (click)="deleteAccessory()">{{
                        'profileMenu.shippingAddressForm.deleteAddress' | translate
                        }}</button>
                </div>
            </form>
            <!-- back button -->
            <div class="button-container">
                <button class="btn btn-primary basic-btn back-btn basic-form-btn" type="submit" nbButton
                    status="success" (click)="back()">
                    <span class="arrow">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <!-- Filled left arrow -->
                            <path d="M26 6L14 16l12 10" fill="#0b8e92" />
                        </svg>
                    </span>
                    {{ 'loginPage.back' | translate }}</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>