<div class="container" [@zoomIn]>
    <nb-card class="container">
        <nb-card-body class="login-col">
            <form #form="ngForm">
                <!-- Product Details Section -->
                <h3>{{ 'products.productDetails' | translate }}</h3>
                <div class="row">
                    <!-- Product Name -->
                    <div class="col-md-6 form-group">
                        <label for="productName" class="label">{{ 'products.productName' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="foodSuplimentObject.productName"
                            name="productName" required placeholder="{{ 'products.enterProductName' | translate }}"
                            #productName="ngModel">
                        <span class="help-block" *ngIf="productName.touched && !productName.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>

                    <!-- Product Category (Dropdown) -->
                    <div class="col-md-6 form-group">
                        <label for="productCategory" class="label">{{ 'products.productCategory' | translate }}</label>
                        <select class="form-control drop-down-list allow-selected-list-color" name="productCategory"
                            required #productCategory="ngModel" [(ngModel)]="selectedCategory"
                            (ngModelChange)="isCategorySelected()">
                            <!-- Placeholder option -->
                            <option value="" selected disabled>{{ 'products.selectProductCategory' | translate }}
                            </option>

                            <!-- List of categories -->
                            <option *ngFor="let categorie of productCategories" [value]="categorie">
                                {{ categorie | translate }}
                            </option>
                        </select>
                        <span class="help-block" *ngIf="productCategory.touched && !productCategory.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <!-- Dosage and Description Section -->
                <div class="row">
                    <!-- Dosage -->
                    <div class="col-md-6 form-group">
                        <label for="dailyDosage" class="label">{{ 'products.dailyDosage' | translate }}</label>
                        <div class="input-group">
                            <!-- Daily dosage input -->
                            <div class="input-container">
                                <input type="number" min="0" class="form-control"
                                    [(ngModel)]="foodSuplimentObject.dailyDosage" name="dailyDosage" required
                                    placeholder="{{ 'products.enterDailyDosage' | translate }}" #dailyDosage="ngModel">
                                <span class="help-block" *ngIf="dailyDosage.touched && !dailyDosage.valid" [@zoomIn]>{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>

                            <!-- Daily dosage unit -->
                            <div class="input-container">
                                <select class="form-control drop-down-list allow-selected-list-color selection"
                                    name="unit" required #dosageUnit="ngModel" [(ngModel)]="selectedUnit">
                                    <option value="" disabled selected>{{ 'products.selectUnit' | translate }}</option>
                                    <option *ngFor="let unit of availableDosageUnits" [value]="unit">
                                        {{ unit | translate }}
                                    </option>
                                </select>
                                <span class="help-block" *ngIf="dosageUnit.touched && !dosageUnit.valid" [@zoomIn]>{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Small description -->
                    <div class="col-md-6 form-group">
                        <label for="smallDescription" class="label">{{ 'products.smallDescription' | translate
                            }}</label>
                        <textarea class="form-control" [(ngModel)]="foodSuplimentObject.smallDescription"
                            name="smallDescription" required
                            placeholder="{{ 'products.enterProductSmallDescription' | translate }}"
                            #smallDescription="ngModel" maxlength="150"
                            (keyup)="smallDescriptionLength = foodSuplimentObject.smallDescription.length"></textarea>

                        <!-- Character count display with conditional red color when max limit is reached -->
                        <small
                            [ngClass]="{'text-danger': smallDescriptionLength >= 150 || smallDescriptionLength === 0, 'text-success': smallDescriptionLength < 150 && smallDescriptionLength > 0}">
                            {{ smallDescriptionLength || 0 }}/150
                        </small>

                        <!-- error block -->
                        <span class="help-block" *ngIf="smallDescription.touched && !smallDescription.valid"
                            [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <!-- Description -->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="description" class="label">{{ 'products.description' | translate }}</label>
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                            <ngx-editor [editor]="editor" [(ngModel)]="description" name="description"
                                [disabled]="false"
                                placeholder="{{ 'products.enterProductDescription' | translate }}"></ngx-editor>
                        </div>
                    </div>
                </div>

                <!-- Ingredients -->
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="ingredients" class="label">{{ 'products.ingredients' | translate }}</label>
                        <textarea class="form-control" [(ngModel)]="foodSuplimentObject.ingredients" name="ingredients"
                            required placeholder="{{ 'products.enterIngredients' | translate }}"
                            #ingredients="ngModel"></textarea>

                        <!-- error block -->
                        <span class="help-block" *ngIf="ingredients.touched && !ingredients.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <!-- Price and Weight/Pieces -->
                <div *ngIf="selectedUnit!== ''" [@collapseField]>
                    <hr>
                    <h3>{{ 'products.priceAndQuantity' | translate }}</h3>

                    <!-- Use unified image -->
                    <div class="row chechkbox-row left-checkbox">
                        <!-- Unified image checkbox -->
                        <div class="col-md-3 form-group">
                            <label class="checkbox-container">
                                {{ 'products.unifiedImage' | translate }}
                                <input type="checkbox" [(ngModel)]="isUnifiedImage" name="isUnifiedImage"
                                    (ngModelChange)="onUnifiedImageChange($event)">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <!-- unified image upload input -->
                    <div *ngIf="isUnifiedImage" [@collapseField] class="form-group">
                        <label for="productImage" class="label">{{ 'products.productImage' | translate
                            }}</label>

                        <!-- Button to Trigger Image Upload -->
                        <div class="send-button-container blog-btn-container">
                            <button class="btn btn-primary forgot-btn blog-btn" type="button" nbButton
                                (click)="triggerImageUpload()">
                                {{ 'products.uploadProductImage' | translate }}
                            </button>
                        </div>

                        <!-- Hidden file input for Image Upload -->
                        <input type="file" #fileInput accept="image/*" style="display: none"
                            (change)="onFileSelected($event)" />

                        <!-- Display selected image -->
                        <div [@collapseField] *ngIf="unifiedImageUrl" class="image-preview-container">
                            <button class="delete-image-button-unified-image btn" (click)="removeImage()"
                                type="button">X</button>
                            <img (click)="triggerImageUpload()" [src]="unifiedImageUrl" alt="Image Preview"
                                class="image-preview" />
                        </div>
                        <br>
                    </div>


                    <div class="row">
                        <!-- Display product prices dynamically in a 2-column layout -->
                        <div class="list-container">
                            <nb-card class="rounded-card categoryCard"
                                *ngFor="let price of productPrices; let i = index">
                                <nb-card-body class="category-image" (click)="editPrice(i)">
                                    <!-- Product Image at the top -->
                                    <div class="image-container text-center">
                                        <img *ngIf="price.productImage !== ''" [src]="price.productImage"
                                            alt="Product Image" class="card-image" />
                                        <img *ngIf="price.productImage === ''"
                                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                                            class="card-image" />
                                    </div>

                                    <!-- Product Details (Price and Weight) below the image -->
                                    <div class="details-container text-center">
                                        <!-- show 'default' text if the current address is the default -->
                                        <nb-card-header class="card-header">
                                            <span *ngIf="price.setAsDefaultPrice">{{
                                                'profileMenu.shippingAddressForm.defaultShippingAddress' | translate
                                                }}</span>
                                        </nb-card-header>

                                        <!-- display the price and if there is a discount, display the discounted price -->
                                        <div class="price-container">
                                            <h5 class="price-display" [class.has-discount]="price.discountedPrice > 0">
                                                <span class="original-price"
                                                    [class.crossed]="price.discountedPrice > 0">
                                                    {{ price.productPrice }} {{ 'products.huf' | translate }}
                                                </span>
                                                <span class="discounted-price" *ngIf="price.discountedPrice > 0">
                                                    {{ price.discountedPrice }} {{ 'products.huf' | translate }}
                                                </span>
                                            </h5>
                                        </div>

                                        <p class="weight-text"><strong></strong> {{
                                            price.quantityInProduct }} {{ selectedUnit | translate }}</p>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <!-- add new price card -->
                        <div class="col-md-12 form-group container price-col">
                            <!-- add button -->
                            <button class="btn btn-primary basic-btn basic-form-btn add-price-btn"
                                (click)="addNewPrice()">
                                {{ 'products.addNewPrice' | translate }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Flavors and Allergens Section -->
                <hr>
                <h3>{{ 'products.flavorsAndAllergens' | translate }}</h3>

                <div *ngIf="isProtein" [@collapseField] class="row">
                    <!-- Protein Type -->
                    <div class="col-md-12 form-group">
                        <label for="proteinType" class="label">{{ 'products.proteinType' | translate }}</label>
                        <select class="form-control drop-down-list allow-selected-list-color selection"
                            [(ngModel)]="selectedProteinType" name="proteinType" required #proteinType="ngModel">
                            <option value="" disabled selected>{{ 'products.selectProteinType' | translate }}</option>
                            <option *ngFor="let protein of availableProteins" [value]="protein">{{ protein | translate
                                }}
                            </option>
                        </select>
                        <span class="help-block" *ngIf="proteinType.touched && !proteinType.valid" [@zoomIn]>{{
                            'register.fieldRequired' | translate }}</span>
                    </div>
                </div>

                <div class="row">
                    <!-- Flavors Section -->
                    <div class="col-md-6 form-group">
                        <label for="flavors" class="label">{{ 'products.productFlavors' | translate }}</label>
                        <div class="multi-select-container">
                            <select class="form-control allow-selected-multiple-list-color" multiple="multiple"
                                [(ngModel)]="selectedFlavors" #flavorSelect="ngModel">
                                <option *ngFor="let flavor of availableFlavors" [value]="flavor"
                                    [ngClass]="{'active': selectedFlavors.includes(flavor) && selectedFlavors.length > 0}"
                                    (click)="selectionOfTheList(productViewText.FLAVORS, flavor)">
                                    {{ flavor | translate }}
                                </option>
                            </select>
                        </div>

                        <!-- display the selected flavors -->
                        <div *ngIf="selectedFlavors.length > 0">
                            <div class="selected-items-display" *ngFor="let selected of selectedFlavors"
                                (click)="removeItemFromTheList(productViewText.FLAVORS, selected)">
                                {{ selected | translate }}
                                <span style="cursor: pointer; color: red;">&times;</span>
                            </div>
                        </div>
                    </div>

                    <!-- Allergenes Section -->
                    <div class="col-md-6 form-group">
                        <label for="allregenes" class="label">{{ 'products.productAllergens' | translate }}</label>
                        <div class="multi-select-container">
                            <select class="form-control allow-selected-multiple-list-color" multiple="multiple"
                                [(ngModel)]="selectedAllergenes" #allergeneSelect="ngModel">
                                <option *ngFor="let allergene of availableAllergens" [value]="allergene"
                                    [ngClass]="{'active': selectedAllergenes.includes(allergene) && selectedAllergenes.length > 0}"
                                    (click)="selectionOfTheList(productViewText.ALLERGENES, allergene)">
                                    {{ allergene | translate}}
                                </option>
                            </select>
                        </div>

                        <!-- display the selected allergenes -->
                        <div *ngIf="selectedAllergenes.length > 0">
                            <div class="selected-items-display" *ngFor="let selected of selectedAllergenes"
                                (click)="removeItemFromTheList(productViewText.ALLERGENES, selected)">
                                {{ selected | translate }}
                                <span style="cursor: pointer; color: red;">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Vitamin block -->
                <div *ngIf="isJoinSupport || isVitamin && (selectedCategory !== '')" [@collapseField]
                    class="nutrition-table">
                    <hr>
                    <h3>{{ 'products.vitamins' | translate }}</h3>
                    <div class="row">
                        <!-- Vitamin name input -->
                        <div class="col-md-4 form-group">
                            <label for="vitaminName" class="label">{{ 'products.vitaminName' | translate }}</label>
                            <input type="text" class="form-control" [(ngModel)]="vitaminName" name="vitaminName"
                                placeholder="{{ 'products.vitaminName' | translate }}*">
                        </div>

                        <!-- Vitamin quantity in one capsule input -->
                        <div class="col-md-4 form-group">
                            <label for="vitaminQuantity" class="label">{{ 'products.vitaminQuantityPerCapsule' |
                                translate }}</label>
                            <input type="number" min="0" class="form-control" [(ngModel)]="vitaminQuantity"
                                name="vitaminQuantity" placeholder="{{ 'products.vitaminQuantityPerCapsule' |
                                translate }}*">
                        </div>

                        <!-- Vitamin unit input -->
                        <div class="col-md-4 form-group">
                            <label for="vitaminUnit" class="label">{{ 'products.vitaminUnit' | translate }}</label>
                            <select class="form-control drop-down-list allow-selected-list-color selection"
                                name="vitaminUnit" [(ngModel)]="selectedVitaminUnit">
                                <option value="" disabled selected>{{ 'products.selectVitaminUnit' | translate }}
                                </option>
                                <option value="μg">μg
                                </option>
                                <option value="mg">mg</option>
                            </select>
                        </div>
                    </div>
                    <!-- missing vitamin fields error block -->
                    <span *ngIf="vitaminMissingFieldsError" class="help-block-login-error" [@zoomIn]>
                        <i class="fas fa-exclamation-triangle icon"></i>
                        {{ 'products.allFieldsAreRequiredToAddNewVitamin' | translate }}
                    </span>
                    <!-- add vitamin button -->
                    <div *ngIf="!vitaminModificationIsInProgress" class="button-container">
                        <button class="btn btn-primary basic-btn basic-form-btn" type="button" nbButton status="success"
                            (click)="handleVitaminList(false)">
                            {{ 'products.add' | translate }}</button>
                    </div>

                    <!-- Edit seleted vitamin -->
                    <div *ngIf="vitaminModificationIsInProgress" class="button-container">
                        <button class="btn btn-primary basic-btn basic-form-btn" type="button" nbButton status="success"
                            (click)="handleVitaminList(true)">
                            {{ 'profilePage.modify' | translate }}</button>
                    </div>

                    <div *ngIf="vitaminModificationIsInProgress" class="button-container">
                        <button class="btn btn-primary basic-btn basic-form-btn" type="button" nbButton status="success"
                            (click)="cancelVitaminModification()">
                            {{ 'profilePage.cancel' | translate }}</button>
                    </div>

                    <!-- Vitamins Table -->
                    <table *ngIf="vitaminList.length !== 0" [@collapseField] class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ 'products.vitaminName' | translate }}</th>
                                <th>{{ 'products.vitaminQuantityPerCapsule' | translate }}</th>
                                <th>{{ 'products.vitaminUnit' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vitamin of vitaminList; let i = index">
                                <td>{{ vitamin.name }}</td>
                                <td>{{ vitamin.stock }}</td>
                                <td>{{ vitamin.unit }}</td>
                                <td>
                                    <div class="buttons">
                                        <button class="btn btn-primary basic-btn basic-form-btn btn-edit"
                                            (click)="displayEditVitamin(i)">{{ 'profilePage.modify' | translate
                                            }}</button>
                                        <button class="btn delete-table-btn" (click)="deleteVitamin(i)">{{
                                            'profileMenu.shippingAddressForm.deleteAddress' | translate }}</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Nutritional Information Section -->
                <div *ngIf="!isJoinSupport && !isVitamin && (selectedCategory !== '')" [@collapseField]
                    class="nutrition-table">
                    <hr>
                    <h3>{{ 'products.nutritionalInformation' | translate }} (100 {{ productViewText.GRAM | translate }})
                    </h3>
                    <div class="row">
                        <!-- Energy (kJ) -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueEnergyKj" class="label">{{ 'products.energyKj' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueEnergyKj" name="nutritionalValueEnergyKj"
                                placeholder="{{ 'products.energyKj' | translate }}*" required
                                #nutritionalValueEnergyKj="ngModel">
                        </div>
                        <!-- Energy (kcal) -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueEnergyCal" class="label">{{ 'products.energyKcal' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueEnergyCal"
                                name="nutritionalValueEnergyCal" placeholder="{{ 'products.energyKcal' | translate }}*"
                                required #nutritionalValueEnergyCal="ngModel">
                        </div>
                        <!-- Fats -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueFats" class="label">{{ 'products.fatsGram' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueFats" name="nutritionalValueFats" required
                                placeholder="{{ 'products.fatsGram' | translate }}*" #nutritionalValueFats="ngModel">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Fatty Acids -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueFattyAcids" class="label">{{ 'products.fattyAcidsGram' |
                                translate }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueFattyAcids"
                                name="nutritionalValueFattyAcids"
                                placeholder="{{ 'products.fattyAcidsGram' | translate }}*" required
                                #nutritionalValueFattyAcids="ngModel">
                        </div>
                        <!-- Carbohydrates -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueCarbohydrates" class="label">{{ 'products.carbohydratesGram' |
                                translate }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueCarbohydrates"
                                name="nutritionalValueCarbohydrates"
                                placeholder="{{ 'products.carbohydratesGram' | translate }}*" required
                                #nutritionalValueCarbohydrates="ngModel">
                        </div>
                        <!-- Sugars -->
                        <div class="col-md-4 form-group">
                            <label for="nutritionalValueSugar" class="label">{{ 'products.sugarsGram' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueSugar" name="nutritionalValueSugar"
                                placeholder="{{ 'products.sugarsGram' | translate }}*" #nutritionalValueSugar="ngModel"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Proteins -->
                        <div class="col-md-6 form-group">
                            <label for="nutritionalValueProteins" class="label">{{ 'products.proteinsGram' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueProteins" name="nutritionalValueProteins"
                                placeholder="{{ 'products.proteinsGram' | translate }}*" required
                                #nutritionalValueProteins="ngModel">
                        </div>
                        <!-- Salt -->
                        <div class="col-md-6 form-group">
                            <label for="nutritionalValueSalt" class="label">{{ 'products.saltGram' | translate
                                }}</label>
                            <input type="number" class="form-control"
                                [(ngModel)]="nutritionalTable.nutritionalValueSalt" name="nutritionalValueSalt" required
                                placeholder="{{ 'products.saltGram' | translate }}*" #nutritionalValueSalt="ngModel">
                        </div>
                    </div>
                </div>

                <!-- Safety Section -->
                <hr>
                <h3>{{ 'products.safetyInformation' | translate }}</h3>
                <div class="row chechkbox-row">
                    <!-- Safe for Pregnancy -->
                    <div class="col-md-4 form-group">
                        <label class="checkbox-container">
                            {{ 'products.safeForPregnancy' | translate }}
                            <input type="checkbox" [(ngModel)]="isSafeForConsumptionDuringPregnancy"
                                name="safeForConsumptionDuringPregnancy">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Safe for Breastfeeding -->
                    <div class="col-md-4 form-group">
                        <label class="checkbox-container">
                            {{ 'products.safeForBreastfeeding' | translate }}
                            <input type="checkbox" [(ngModel)]="isSafeForConsumptionDuringBreastfeeding"
                                name="safeForConsumptionDuringBreastfeeding">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!-- Gender input -->
                    <div *ngIf="(isJoinSupport || isVitamin) && (selectedCategory !== '')" [@collapseField]>
                        <div class="col-md-12 form-group ">
                            <label for="vitaminGender" class="label">{{ 'products.gender' | translate }}</label>
                            <div class="multi-select-container">
                                <select class="form-control allow-selected-multiple-list-color gender-select"
                                    multiple="multiple" [(ngModel)]="selectedGenders" #genderSelect="ngModel">
                                    <option *ngFor="let gender of availableGenders" [value]="gender"
                                        [ngClass]="{'active': selectedGenders.includes(gender) && selectedGenders.length > 0}"
                                        (click)="selectionOfTheList(productViewText.GENDER, gender)">
                                        {{ gender | translate }}
                                    </option>
                                </select>
                            </div>

                            <!-- display the selected genders -->
                            <div *ngIf="selectedGenders.length > 0">
                                <div class="selected-items-display" *ngFor="let selected of selectedGenders"
                                    (click)="removeItemFromTheList(productViewText.GENDER, selected)">
                                    {{ selected | translate }}
                                    <span style="cursor: pointer; color: red;">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Prices missing block -->
                <span *ngIf="missingPricesErrorMessage" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'products.missingPricesError' | translate }}
                </span>

                <!-- Product name exists block -->
                <span *ngIf="productNameExistsError" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'products.productNameExistsError' | translate }}
                </span>

                <!-- Error block -->
                <span *ngIf="errorMessage" class="help-block-login-error" [@zoomIn]>
                    <i class="fas fa-exclamation-triangle icon"></i>
                    {{ 'basicErrorMessage' | translate }}
                </span>

                <!-- Create Button -->
                <div *ngIf="!isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn basic-form-btn" type="submit" nbButton status="success"
                        (click)="addNewFoodSupplement()" [disabled]="!form.valid">{{ 'products.add' | translate
                        }}</button>
                </div>

                <div *ngIf="isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn basic-form-btn" type="submit" nbButton status="success"
                        (click)="editFoodSupliment()" [disabled]="!form.valid">{{ 'profilePage.modify' | translate
                        }}</button>
                </div>
                <div *ngIf="isProductEdit" class="button-container">
                    <button class="btn btn-primary basic-btn delete-btn basic-form-btn" type="submit" nbButton
                        status="success" (click)="deleteFoodSupliment()">{{
                        'profileMenu.shippingAddressForm.deleteAddress' | translate
                        }}</button>
                </div>
            </form>
            <!-- back button -->
            <div class="button-container">
                <button class="btn btn-primary basic-btn back-btn basic-form-btn" type="submit" nbButton
                    status="success" (click)="back()">
                    <span class="arrow">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <!-- Filled left arrow -->
                            <path d="M26 6L14 16l12 10" fill="#0b8e92" />
                        </svg>
                    </span>
                    {{ 'loginPage.back' | translate }}</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>