<!-- If no products, display the empty card -->
<div *ngIf="(emptyCollection === true)" class="empty-list-container">
    <nb-card class="emptyCard">
        <nb-card-body>
            <div>
                <img src="../../../assets/images/no-products.jpg" alt="EmptyBox" class="emptyCardImage">
                <p class="emptyCardText">{{ 'products.noProducts' | translate }}</p>
            </div>
            <div class="button-container">
                <button class="btn btn-primary basic-btn basic-form-btn products-button" type="submit" nbButton
                    status="success" (click)="goToCreateProduct()">{{
                    'products.addFirstProduct' | translate
                    }}</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>

<div class="row">
    <!-- Display product prices dynamically in a 2-column layout -->

    <!-- Food Supliments -->
    <div *ngIf="foodSupliments" class="list-container">
        <nb-card class="rounded-card productCard" *ngFor="let foodSupliment of foodSupliments">
            <nb-card-body class="product-image" (click)="goToEditProduct(foodSupliment.id)">


                <div *ngIf="getDefaultPrice(foodSupliment) as defaultPrice" class="details-container text-center">
                    <div class="image-container text-center">
                        <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                            alt="Product Image" class="card-image" />
                        <img *ngIf="defaultPrice.productImage === ''"
                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                            class="card-image" />
                    </div>


                    <h4>{{ foodSupliment.productName }}</h4>
                    <h5 class="price-display"> {{ defaultPrice.productPrice }} {{
                        'products.huf' | translate }}</h5>
                    <h5 class="price-display">{{
                        'products.stock' | translate }}: {{
                        defaultPrice.productStock }} {{ productViewText.PCS | translate }}</h5>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <!-- Healthy products -->
    <div *ngIf="healthyProducts" class="list-container">
        <nb-card class="rounded-card productCard" *ngFor="let healthyProduct of healthyProducts">
            <nb-card-body class="product-image" (click)="goToEditProduct(healthyProduct.id)">


                <div *ngIf="getDefaultPrice(healthyProduct) as defaultPrice" class="details-container text-center">
                    <div class="image-container text-center">
                        <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                            alt="Product Image" class="card-image" />
                        <img *ngIf="defaultPrice.productImage === ''"
                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                            class="card-image" />
                    </div>


                    <h4>{{ healthyProduct.productName }}</h4>
                    <h5 class="price-display"> {{ defaultPrice.productPrice }} {{
                        'products.huf' | translate }}</h5>
                    <h5 class="price-display">{{
                        'products.stock' | translate }}: {{
                        defaultPrice.productStock }} {{ productViewText.PCS | translate }}</h5>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <!-- Clothes -->
    <div *ngIf="clothes" class="list-container">
        <nb-card class="rounded-card productCard" *ngFor="let cloth of clothes">
            <nb-card-body class="product-image" (click)="goToEditProduct(cloth.id)">


                <div *ngIf="getDefaultPrice(cloth) as defaultPrice" class="details-container text-center">
                    <div class="image-container text-center">
                        <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                            alt="Product Image" class="card-image" />
                        <img *ngIf="defaultPrice.productImage === ''"
                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                            class="card-image" />
                    </div>


                    <h4>{{ cloth.productName }}</h4>
                    <h5 class="price-display"> {{ defaultPrice.productPrice }} {{
                        'products.huf' | translate }}</h5>
                    <h5 class="price-display">{{ 'products.clothes.size' | translate }}: {{
                        defaultPrice.productSize }}</h5>
                    <h5 class="price-display">{{
                        'products.stock' | translate }}: {{
                        defaultPrice.productStock }} {{ productViewText.PCS | translate }}</h5>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <!-- Accessories -->
    <div *ngIf="accessories" class="list-container">
        <nb-card class="rounded-card productCard" *ngFor="let accessory of accessories">
            <nb-card-body class="product-image" (click)="goToEditProduct(accessory.id)">


                <div *ngIf="getDefaultPrice(accessory) as defaultPrice" class="details-container text-center">
                    <div class="image-container text-center">
                        <img *ngIf="defaultPrice.productImage !== ''" [src]="defaultPrice.productImage"
                            alt="Product Image" class="card-image" />
                        <img *ngIf="defaultPrice.productImage === ''"
                            src="../../../../../assets/images/gym-bro-logo.png" alt="Product Image"
                            class="card-image" />
                    </div>


                    <h4>{{ accessory.productName }}</h4>
                    <h5 class="price-display"> {{ defaultPrice.productPrice }} {{
                        'products.huf' | translate }}</h5>
                    <h5 *ngIf="accessory.equipmentType === productViewText.WEIGHT_LIFTING" class="price-display">{{
                        'products.clothes.size' | translate }}: {{
                        defaultPrice.productSize }}</h5>
                    <h5 *ngIf="accessory.equipmentType === productViewText.SHAKERS" class="price-display">{{
                        'products.clothes.size' | translate }}: {{
                        defaultPrice.bottleSize }} {{ productViewText.ML | translate }}</h5>
                    <h5 class="price-display">{{
                        'products.stock' | translate }}: {{
                        defaultPrice.productStock }} {{ productViewText.PCS | translate }}</h5>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<!-- back button -->
<div class="button-container">
    <button class="btn btn-primary basic-btn back-btn basic-form-btn products-button" type="submit" nbButton
        status="success" (click)="back()">
        <span class="arrow">
            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <!-- Filled left arrow -->
                <path d="M26 6L14 16l12 10" fill="#0b8e92" />
            </svg>
        </span>
        {{ 'products.backToTheCategories' | translate }}</button>
</div>

<!-- add button -->
<div class="floating-button-container">
    <button class="floating-button" (click)="goToCreateProduct()">
        <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5v14m7-7H5" fill="none" stroke="#0b8e92" stroke-width="3" />
        </svg>
        <span class="floating-label">{{ 'products.addProductText' | translate }}</span>
    </button>
</div>