<div class="container-all-window">
    <!-- add price title -->
    <h1 *ngIf="!editText" id="title" class="title">{{ 'products.addNewPrice' | translate
        }}</h1>
    <h1 *ngIf="editText" id="title" class="title">{{ 'products.editPrice' | translate
        }}</h1>
    <!-- add price form -->
    <div class="container">
        <nb-card>
            <nb-card-body>
                <div>
                    <form (ngSubmit)="addNewPrice()" #form="ngForm">
                        <!-- quantity in product (lbs, gram, pcs) block -->
                        <div *ngIf="productCategory !== productViewText.CLOTHES && productCategory !== productViewText.ACCESSORIES"
                            class="form-group">
                            <label for="quantityInProduct" class="label">{{ 'products.quantityInProduct' | translate
                                }}</label>
                            <input type="number" class="form-control" name="quantityInProduct" fullWidth
                                placeholder="{{ unitText }} ({{ selectedUnit | translate }})" required
                                #quantityInProduct="ngModel" [(ngModel)]="newPrice.quantityInProduct" />
                            <!-- quantity in product error block -->
                            <span class="help-block" *ngIf="!quantityInProduct.valid && quantityInProduct.touched"
                                [@zoomIn]>{{
                                'register.fieldRequired' | translate }}</span>
                            <br>
                        </div>

                        <!-- Product flavor (Dropdown) -->
                        <div *ngIf="productCategory === productViewText.FOOD_SUPLIMENTS || (productCategory === productViewText.ORGANIC_FOOD && data.productInnerCategory === productViewText.DRINKS) || (productCategory === productViewText.ORGANIC_FOOD && data.productInnerCategory === productViewText.HEALTHY_SNACKS)"
                            class="row">
                            <div class="col-md-12 form-group">
                                <label for="productFlavors" class="label">{{ 'products.productFlavors' | translate
                                    }}</label>
                                <select class="form-control drop-down-list allow-selected-list-color"
                                    name="productFlavors" required #productFlavors="ngModel"
                                    [(ngModel)]="selectedFlavor">
                                    <!-- Placeholder option -->
                                    <option value="" selected disabled>{{ 'products.selectPoductFlavors' |
                                        translate }}
                                    </option>

                                    <!-- List of available flavors -->
                                    <option *ngFor="let flavor of availableFlavors" [value]="flavor">
                                        {{ flavor | translate }}
                                    </option>
                                </select>
                                <span class="help-block" *ngIf="productFlavors.touched && !productFlavors.valid"
                                    [@zoomIn]>{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>
                            <br>
                        </div>

                        <!-- Product color (Dropdown) -->
                        <div *ngIf="productCategory === productViewText.CLOTHES || (productCategory === productViewText.ACCESSORIES && accessoriesType === productViewText.SHAKERS)"
                            class="row">
                            <div class="col-md-12 form-group">
                                <label for="productColor" class="label">{{ 'products.clothes.color' | translate
                                    }}</label>
                                <select class="form-control drop-down-list allow-selected-list-color"
                                    name="productColor" required #productColor="ngModel" [(ngModel)]="selectedColor"
                                    (ngModelChange)="isColorSelected()">
                                    <!-- Placeholder option -->
                                    <option value="" selected disabled>{{ 'products.clothes.colors.selectColor' |
                                        translate }}
                                    </option>

                                    <!-- List of available colors -->
                                    <option *ngFor="let colorElement of availableProductColors"
                                        [value]="colorElement.color">
                                        {{ colorElement.color | translate }}
                                    </option>
                                </select>
                                <span class="help-block" *ngIf="productColor.touched && !productColor.valid"
                                    [@zoomIn]>{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>
                            <br>
                        </div>

                        <!-- Product size (Dropdown) -->
                        <div *ngIf="(productCategory === productViewText.CLOTHES) || (productCategory === productViewText.ACCESSORIES && accessoriesType === productViewText.WEIGHT_LIFTING) || (productCategory === productViewText.ACCESSORIES && accessoriesType === productViewText.SHAKERS)"
                            class="row">
                            <div class="col-md-12 form-group">
                                <label for="productSize" class="label">{{ 'products.clothes.size' | translate
                                    }}</label>
                                <select class="form-control drop-down-list allow-selected-list-color" name="productSize"
                                    required #productSize="ngModel" [(ngModel)]="selectedSize">
                                    <!-- Placeholder option -->
                                    <option value="" selected disabled>{{ 'products.clothes.selectSize' |
                                        translate }}
                                    </option>

                                    <!-- List of sizes -->
                                    <option *ngFor="let size of availableProductSizes" [value]="size">
                                        {{ size }}
                                    </option>
                                </select>
                                <span class="help-block" *ngIf="productSize.touched && !productSize.valid" [@zoomIn]>{{
                                    'register.fieldRequired' | translate }}</span>
                            </div>
                            <br>
                        </div>

                        <!-- Product Image block -->
                        <div *ngIf="(productCategory === productViewText.FOOD_SUPLIMENTS) || (productCategory === productViewText.ORGANIC_FOOD) || ( accessoriesType === productViewText.WEIGHT_LIFTING) || ( accessoriesType === productViewText.SHAKERS && selectedColor !== '') || ((productCategory === productViewText.CLOTHES) && (selectedColor !== ''))"
                            class="form-group">
                            <label for="productImage" class="label">{{ 'products.productImage' | translate
                                }}</label>
                            <!-- Button to Trigger Image Upload -->
                            <div class="send-button-container">
                                <button
                                    *ngIf="(unifiedImageUrl === null) && (productCategory !== productViewText.CLOTHES) && (accessoriesType !== null && accessoriesType !== undefinied && accessoriesType !== productViewText.SHAKERS)"
                                    class="btn btn-primary forgot-btn" type="button" nbButton
                                    (click)="triggerImageUpload()">
                                    {{ 'products.uploadProductImage' | translate }}
                                </button>
                            </div>

                            <!-- Hidden file input for Image Upload -->
                            <input
                                *ngIf="(unifiedImageUrl === null) && (productCategory !== productViewText.CLOTHES) && (accessoriesType !== null && accessoriesType !== undefinied && accessoriesType !== productViewText.SHAKERS)"
                                type="file" #fileInput accept="image/*" style="display: none"
                                (change)="onFileSelected($event)" />

                            <!-- Display selected image -->
                            <div [@collapseField] *ngIf="imagePreview !== null" class="image-preview-container">
                                <button
                                    *ngIf="imagePreview !== '' && ((unifiedImageUrl === null) && (productCategory !== productViewText.CLOTHES) && (accessoriesType !== null && accessoriesType !== undefinied && accessoriesType !== productViewText.SHAKERS))"
                                    class="delete-image-button btn" (click)="removeImage()" type="button">X</button>

                                <!-- Image display -->
                                <img *ngIf="imagePreview" (click)="triggerImageUpload()" [src]="imagePreview"
                                    alt="Image Preview"
                                    [ngClass]="{'cursor-pointer': (unifiedImageUrl === null) && (productCategory !== productViewText.CLOTHES) && (accessoriesType !== null && accessoriesType !== undefined && accessoriesType !== productViewText.SHAKERS)}"
                                    class="image-preview" />

                                <!-- Default image display -->
                                <img *ngIf="unifiedImageUrl === '' || (productCategory === productViewText.CLOTHES && imagePreview === '') || (accessoriesType === productViewText.SHAKERS && imagePreview === '')"
                                    src="../../../../../assets/images/gym-bro-logo.png" alt="Image Preview"
                                    class="image-preview" />
                            </div>
                            <br>
                        </div>

                        <!-- Product Price block -->
                        <div class="form-group">
                            <label for="productPrice" class="label">{{ 'products.productPrice' | translate
                                }}</label>
                            <input type="number" class="form-control" name="productPrice" fullWidth placeholder="{{ 'products.price' | translate
                                }} ({{ 'products.huf' | translate }})" required #productPrice="ngModel"
                                [(ngModel)]="newPrice.productPrice" />
                            <!-- price error block -->
                            <span class="help-block" *ngIf="!productPrice.valid && productPrice.touched" [@zoomIn]>{{
                                'register.fieldRequired' | translate }}</span>
                        </div><br>

                        <!-- discounted price block -->
                        <!-- Aff discounted price Checkbox -->
                        <div class="form-group">
                            <label for="isDiscountedPrice" class="checkbox-container">
                                <label for="isDiscountedPrice">{{ 'products.discountedPrice' | translate
                                    }}</label>
                                <input type="checkbox" [(ngModel)]="isDiscountedPrice" name="isDiscountedPrice"
                                    id="isDiscountedPrice" #admin="ngModel">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <!-- Discounted Price block -->
                        <div class="form-group" *ngIf="isDiscountedPrice" [@collapseField]>
                            <label for="discountedPrice" class="label">{{ 'products.discountedPrice' | translate
                                }}</label>
                            <input type="number" class="form-control" name="discountedPrice" fullWidth placeholder="{{ 'products.price' | translate
                                }} ({{ 'products.huf' | translate }})" required #discountedPrice="ngModel"
                                [(ngModel)]="newPrice.discountedPrice" />
                            <!-- price error block -->
                            <span class="help-block" *ngIf="!discountedPrice.valid && discountedPrice.touched"
                                [@zoomIn]>{{
                                'register.fieldRequired' | translate }}</span>
                        </div><br>

                        <!-- Product Stock block -->
                        <div class="form-group">
                            <label for="productStock" class="label">{{ 'products.productStock' | translate
                                }}</label>
                            <input type="number" class="form-control" name="productStock" fullWidth placeholder="{{ 'products.stock' | translate
                                }} ({{ productViewText.PIECES | translate }})" required #productStock="ngModel"
                                [(ngModel)]="newPrice.productStock" />
                            <!-- stock error block -->
                            <span class="help-block" *ngIf="!productStock.valid && productStock.touched" [@zoomIn]>{{
                                'register.fieldRequired' | translate }}</span>
                        </div><br>

                        <!-- set to default price Checkbox -->
                        <div class="form-group">
                            <label for="setToDefaultAddress" class="checkbox-container">
                                <label for="setToDefaultAddress">{{ 'profileMenu.shippingAddressForm.setToDefault' |
                                    translate }}
                                </label>
                                <input type="checkbox" [(ngModel)]="isSetAsDefaultPrice" name="setToDefaultAddress"
                                    id="setToDefaultAddress" #admin="ngModel">
                                <span class="checkmark"></span>
                            </label>
                        </div><br>

                        <!-- Error block -->
                        <span *ngIf="errorMessage" class="help-block-login-error" [@zoomIn]>
                            <i class="fas fa-exclamation-triangle icon"></i>
                            {{ errorMessage }}
                        </span>

                        <!-- Submit button -->
                        <div class="send-button-container">
                            <button class="btn btn-primary forgot-btn" type="submit" nbButton status="success"
                                [disabled]="!form.valid">
                                {{ buttonText }}
                            </button>
                        </div>
                    </form>

                    <div *ngIf="editText" class="send-button-container">
                        <button class="btn btn-primary forgot-btn btn delete-btn" type="button" nbButton
                            status="warning" (click)="deletePrice()">
                            {{ 'profileMenu.shippingAddressForm.deleteAddress' | translate }}
                        </button>
                    </div>

                    <div class="send-button-container">
                        <button class="btn btn-primary forgot-btn" type="button" nbButton status="warning"
                            (click)="back()">
                            {{ 'loginPage.back' | translate }}
                        </button>
                    </div><br />
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>